<!-- 유저 섹션 시작 -->
<%= render :partial => "/shared/quickSection" %>
<!-- 유저 섹션 끝 -->


<!-- 카테고리 섹션 시작 -->
<%= render :partial => "/shared/category" %>
<!-- 카테고리 섹션  끝 -->


<!-- 컨텐츠 섹션 시작 -->
<%= render :partial => "/pages/main_content" %>
<!-- 컨텐츠 섹션 끝 -->

<!-- 로그인 컨텐츠 시작 -->
<div id="popup-view" style="display:none">
	<div id="ajaxloadpage">
	<%= render :partial => "#{@board}_#{@section}" %>
	</div>
</div>
<a id="popup-closeButton"></a>
<script>
$(document).ready( function() {
	$("#popup-view").appendTo('body');
	$("#popup-closeButton").appendTo('body');
	$(".ajax-sign-in").click();
});
</script>
<!-- 로그인 컨텐츠 끝 -->