#이미 추가된 파일명을 삭제시에는 git rm --cached filename 를 이용한다.
db/development.sqlite3
db/seeds.rb
.DS_Store
*.sqlite3
*.log
*.mlayoutP
public/images/.DS_Store
public/uploads/*
public/templates/*
public/MClientBox/*
public/user_files/*
test/*
log/*
db/*
config/environment.rb
public/images/admin/main/*
public/sharedimage/*
