<p>
  <b>아이대:</b>
  <%=h @myadmin.admin_id %>
</p>

<p>
  <b>이름:</b>
  <%=h @myadmin.name %>
</p>

<p>
  <b>이메일:</b>
  <%=h @myadmin.email %>
</p>


<!-- <input type="button" value="수정" style="cursor:pointer;font-size:20px;" onClick="location.href='/admin/myadmins/<%= params[:id] %>/edit'"> -->
<input type="button" value="목록" style="cursor:pointer;font-size:20px;" onClick="location.href='/admin/myadmins'">