/* 코멘트 관련 스타일 */

.comment_list fieldset { width:770px; background: #333333; padding:15px 20px 10px 0px; border: 2px solid #92B64F; }
.comment_list fieldset h5 { display: none; }
.comment_list fieldset .actions { text-align:right; width:700px; height: 31px; margin: 10px auto 0;  background: none; padding: 0; }
.comment_list fieldset .actions:after {content:" "; display:block; clear:both;}
.comment_list fieldset .comment label { padding: 0 0 0 20px; font-weight: bold; }
.comment_list fieldset .comment span { font-size: 11px; color: #999; letter-spacing: -1px; font-weight: normal; }
.comment_list fieldset .comment textarea { height: 120px; width: 750px; margin: 10px 0 10 20px;display: block; }
