/* @override http://mac.fooleaf.com:3000/css/default.css */

h1,h2,h3,h4,h5,h6,ul, ol, li, form  { margin: 0; padding: 0; list-style: none}
hr { display: none}
img { border: 0 }
h5 { font-size: 12px; font-weight: normal; }

body { background: center top repeat-x; color: #333; font-size: 9pt; font-family: "Malgun Gothic", NanumGothicOTF, NanumGothic, AppleGothic, dotum, sans-serif; margin: 0;}
a:link { text-decoration: none; color: #333; }
a:visited { text-decoration: none; color: #666; }
a:hover { text-decoration: none; color: #67991a; }
a:active { text-decoration: none; color: #b0681b; }
input { line-height: 20px; height: 20px; border: 1px solid #999; border-bottom-color:#ccc; border-right-color:#ccc; padding: 0 3px; font-size:12px; font-family:sans-serif; background:url(/images/default/input-text-bg.png) center center}
input.submit-button { font-weight: bold; font-size: 12px;border: 1px solid #666; color: white; text-shadow: 0 -1px #333; border-top-color: #999; border-left-color: #999; background: url('/images/default/form-button-bg.png'); height: 24px; cursor: pointer; }

/* 헤더  시작*/

h1 { position: absolute; top: 36px; }

/* > 메뉴 시작*/
#header { width: 960px; height: 186px; margin: 0 auto; position: relative;}
#header #nav-menu { background-repeat: no-repeat; position: absolute; top:142px;left: 0; width: 960px; height: 44px;}
#header #nav-menu h2 { display: none }
#header #nav-menu ul { background: url(/images/default/nav-button-background.png) no-repeat 180px 0px; width: 960px; height: 44px;}
#header #nav-menu li { display: block; position: absolute;  }
#header #nav-menu li.company { top: 9px; left: 31px; }
#header #nav-menu li.template { top: 9px; left: 210px; }
#header #nav-menu li.designcart { top: 9px; left: 390px; }
#header #nav-menu li.order-delivery { top: 9px; left: 570px; }
#header #nav-menu li.cscenter { top: 9px; left: 810px}
#header #nav-menu li a { display: block; text-indent: -9999px; background-repeat: no-repeat}
#header #nav-menu li.company a { background-image:url(/images/default/nav-button-company-out.png); width: 115px; height: 28px;}
#header #nav-menu li.company a:hover { background-image:url(/images/default/nav-button-company-in.png);}
#header #nav-menu li.template a { background-image:url(/images/default/nav-button-template-out.png); width: 180px; height: 35px;}
#header #nav-menu li.template a:hover { background-image:url(/images/default/nav-button-template-in.png)}
#header #nav-menu li.designcart a { background-image:url(/images/default/nav-button-designcart-out.png);width: 180px; height: 35px;}
#header #nav-menu li.designcart a:hover { background-image:url(/images/default/nav-button-designcart-in.png)}
#header #nav-menu li.order-delivery a { background-image:url(/images/default/nav-button-order-delivery-out.png); width: 180px; height: 35px;;}
#header #nav-menu li.order-delivery a:hover { background-image:url(/images/default/nav-button-order-delivery-in.png)}
#header #nav-menu li.cscenter a { background-image:url(/images/default/nav-button-cscenter-out.png); width: 115px; height: 28px;}
#header #nav-menu li.cscenter a:hover { background-image:url(/images/default/nav-button-cscenter-in.png) }

/* > 메뉴 종료*/

/* > 상단 퀵 메뉴 시작*/

#header #nav-quick a:link,#header #nav-quick a:visited { color: white; text-decoration: none; } 
#header #nav-quick a:hover { text-decoration: underline !important }
#header #nav-quick h3 { display: none;}
#header #nav-quick ul { position: absolute; top: 0; right: 0; *zoom:1;}
#header #nav-quick ul:after {content:""; display:block; clear:both;}
#header #nav-quick li { float: left; margin: 3px 7px; }

/*  > 상단 퀵 메뉴 종료*/

/* 헤더  끝 */


/* 팝업윈도우 */

#popup-view { border: 1px solid #999;}
#ajaxloadpage { background: url("/images/default/block-popup-bg.png") repeat-x left top; padding: 0 20px; }
#ajaxloadpage h3 { line-height: 59px; font-size: 18px;}
#ajaxloadpage #login-form p { margin: 0; padding: 16px 0 }
#ajaxloadpage #login-form fieldset { background-color: #eee; border: 1px solid #ccc; margin: 0; padding: 0; }
#ajaxloadpage #login-form fieldset p { margin: 0; padding: 5px 10px }
#ajaxloadpage #login-form legend { display: none; }
#ajaxloadpage #login-form label { width: 80px; display: block; }
#ajaxloadpage #login-form .signup { display: block; width: 156px;height: 45px; text-indent: -5000px; background:url(/images/default/button-signup.png) ;}
/* */

/* 컨텐츠 섹션 시작 */

#content { width: 960px; margin: 0 auto; position: relative; overflow: visible;}

/* > 사이드 섹션 시작 */
#content .sideblock { background: url(/images/default/block-side-bg.png) no-repeat left bottom; }
#content .sideblock h3 { height: 21px; padding: 0 5px; text-shadow: 0px -1px #333; background:  url(/images/default/block-side-header.png); color: white; font-size: 7pt; font-family: tahoma, sans-serif; line-height: 21px; }
#content #category { position: absolute; width: 170px; left: 10px; top: 10px; padding:0; }
#content #category ul { padding: 10px }
#content #category ul li { padding: 4px 0 8px; line-height: 150%; }
#content #category a.title { font-weight: bold; font-size: 16px;padding-left: 18px; background:  url(/images/default/category-title-icon.png) no-repeat 2px center;  }
#content #category a.title:hover {  font-size: 16px;padding-left: 18px; background:  url(/images/default/category-title-icon-hover.png) no-repeat 2px center;  }
#content #category ul li ul { border: 1px solid #ccc; background: white; margin: 5px 0; *zoom:1; padding: 5px; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
#content #category ul li ul:after {content:" "; display:block; clear:both;}
#content #category ul li ul li { display: inline-block; font-size: 12px; padding: 0;margin: 2px; padding:0 5px; border-radius:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
#content #category ul li ul li:hover { background: #67991a; } #content #category ul li ul li:hover a { color: white;}
#content #category ul li ul li:active { background: #b0681b; } #content #category ul li ul li:active a { color: white;}

/* 로그인 */
#content #quick-section { position: absolute; width: 170px; top : 10px;right: 10px; }
* html #content #myinfo { float: left; }
#content #myinfo #quick-login { border: none; margin: 0; padding: 0 10px 4px }
#content #myinfo #quick-login legend { display: none; }
#content #myinfo #quick-login p { line-height: 23px; *zoom:1; margin: 6px 0;}
#content #myinfo #quick-login p:after {content:" "; display:block; clear:both;}
#content #myinfo #quick-login label { width: 55px; display: block; float: left; }
#content #myinfo #quick-login input { width: 85px; display: block; float: left; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
#content #myinfo #quick-login input.submit-button { width: 150px; }
#content #myinfo .signup-message { padding: 0 10px 10px; margin: 0; }
#content #myinfo .signup-message a { display: block; background: white; text-align: center; background: url("/images/default/form-button-bg-white.png"); line-height: 24px; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border: 1px solid #999; border-top-color:white; border-left-color:white;text-shadow: 0px 1px #ddd;margin: 0 0 6px}
#content #myinfo .signup-message a:hover { color: #333; font-weight: bold; }

/* 내정보 관리 */
#content #info { width: 170px; height: 334px;; background: url(/images/default/block-myinfo-bg.png) no-repeat 1px 26px; position: relative; }
#content #info ul li { position: absolute; display: block; padding: 3px 5px;  border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
#content #info .login-id { width: 111px; text-align: center; font-weight: bold; font-size: 16px; top: 34px; left: 40px; text-shadow: 0 1px white; }
#content #info .login-name { width: 111px; text-align: center; font-size: 12px; top: 53px; left: 40px; text-shadow: 0 1px white; }
#content #info .logout, #content #info .webhard, #content #info .user-edit { width: 48px; text-align: center; border: 1px solid #333; border-color: #ccc #333 #333 #ccc; background: url(/images/default/form-button-bg.png); }
#content #info a { text-shadow: 0 -1px #333; color:white; font-size:11px}
#content #info a:hover { font-weight: bold;}
#content #info .logout { top: 105px; left:40px; }
#content #info .webhard { top: 80px; left:40px;  width: 109px;  background: url(/images/default/form-button-bg-black.png);}
#content #info .user-edit { top: 105px; left:101px; }
#content #work-summary h3 { background: none; text-align: center; text-shadow:none; color: #aaa; padding: 3px 0; font-size: 11px; }
#content #work-summary { position: absolute; width: 150px; top: 140px; left: 9px; background-color: white; border: 1px solid #ccc; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
#content #work-summary li { letter-spacing: -1px;width: 130px; height: 13px; padding: 6px 0; border-top: 1px solid #e6e6e6; margin: 0 auto; font-size: 11px; }
#content #work-summary li .none { color: #ccc; }
#content #work-summary li span { position: absolute; right: 10px; }

/* 퀵 링크! */
#content #quick-link { margin-top: 10px; }
#content #quick-link h3 { display: none;}

/*그외 정보 */
#content #quick-information { letter-spacing: -1px; border-radius:6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; margin: 6px 0; border: 1px solid #ccc; padding: 9px; width: 150px; }
#content #quick-information li { width: 110px;padding: 0 0 0 40px; height:60px; line-height: 140%; background-repeat: no-repeat; background-position: left 4px}
#content #quick-information li h4 {  font-size: 12px; }
#content #quick-information li p { margin: 0; padding: 5px 0 5px;  font-size: 11px;}
#content #quick-information li.payment { background-image: url(/images/default/quicksection-payment.png); }
#content #quick-information li.business-time { background-image: url(/images/default/quicksection-business-time.png); }
#content #quick-information li.cscenter-phone { background-image: url(/images/default/quicksection-cscenter.png); height: 50px; }

/* > 사이드 섹션 종료 */

/* > 내용 섹션 시작 */
#main #content { background-color: white;}
#main .content-layout { padding: 10px 190px; width: 580px; min-height: 600px; height: auto !important; height: 600px; }

/* 서브페이지 서브 메뉴, 기본 레이아웃 */
#sub h1 { position: absolute; top: 10px; }
#sub #header { width: 960px; height: 126px; margin: 0 auto; position: relative;}
#sub #header #nav-menu { background-repeat: no-repeat; position: absolute; top:82px;left: 0; width: 960px; height: 44px;}
#sub #content {	background: #fff url(/images/default/page-sub-bg.png) left 78px no-repeat; }
#sub #submenu { position: absolute; width: 170px; left: 10px; top: 10px; padding:0;  }
#sub #submenu h3 { padding: 40px 0 30px; text-align: center; color: #bbb; font-weight: normal; }
#sub #submenu { position: absolute; width: 170px; left: 10px; top: 10px; padding:0; }
#sub #submenu ul { padding: 0 10px 10px }
#sub #submenu ul li { padding: 4px 0 8px; line-height: 150%; }
#sub #submenu a.title { font-weight: bold; font-size: 12px;padding-left: 14px; background:  url(/images/default/submenu-title-icon.png) no-repeat 2px center;  }
#sub #submenu a.title:hover {  background:  url(/images/default/submenu-title-icon-hover.png) no-repeat 2px center;  }
#sub #submenu ul li ul { border: 1px solid #ccc; background: white; margin: 5px 0; *zoom:1; padding: 5px; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
#sub #submenu ul li ul:after {content:" "; display:block; clear:both;}
#sub #submenu ul li ul li { display: inline-block; font-size: 11px; padding: 0;margin: 2px; padding:0 5px; border-radius:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
#sub #submenu ul li ul li:hover { background: #67991a; } #content #submenu ul li ul li:hover a { color: white;}
#sub #submenu ul li ul li:active { background: #b0681b; } #content #submenu ul li ul li:active a { color: white;}
#sub .content-layout { padding: 10px 190px; width: 580px; min-height: 600px; height: auto !important; height: 600px; }
#sub .content-layout h3 { width:580px; height: 30px; padding-top:39px; text-indent:-5000px; background-repeat: no-repeat; background-position: left 29px;}
#sub .content-description { margin: 15px 0 20px; border: 1px solid #ddd; padding: 10px; background: #eee; }

/* 템플릿 페이지 헤더  */
#sub #design.content-layout h3 { display: none;}
#sub #design.content-layout .content-description { display: none;}
#sub #design-list.horizon h4 { width: 560px; height: 35px; margin-top:8px; background: url(/images/default/block-template-header-horizon.png); line-height: 35px; padding: 10px;}
#sub #design-list.vertical h4 { width: 560px; height: 35px; margin-top:8px; background: url(/images/default/block-template-header-vertical.png); line-height: 35px; padding: 10px;}
#sub #design-list #template-type {  position: relative; }
#sub #design-list #template-type li {  position: absolute ;}
#sub #design-list #template-type li.vertical { top: -26px; left: 434px;}
#sub #design-list #template-type li.horizon { top: -26px; left: 290px;}
#sub #design-list #template-type li a { text-indent: -5000px; width: 120px; height:26px; display: block; }


/* 템플릿 페이지 목록 스타일 가로형 */
#sub #design-list.horizon .article { margin: 10px 0; padding: 10px 0; }
#sub #design-list.horizon .article .preview { width: 578px; text-align: center; min-height: 90px; display: block; border: 1px solid #ccc; border-top-left-radius:4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-right-radius:4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px;}
#sub #design-list.horizon .article ul { position: relative; background: url(/images/default/block-template-base-horizon.png) no-repeat; height: 55px; }
#sub #design-list.horizon .article li { position: absolute; height:24px; line-height: 24px; padding-left: 40px; background: no-repeat left center }
#sub #design-list.horizon .article li.designcode { top: 5px; left: 10px;width: 200px; background-image: url(/images/default/block-template-title-designcode.png);}
#sub #design-list.horizon .article li.item { display: none; }
#sub #design-list.horizon .article li.size { top: 26px; width: 130px; left: 10px; background-image: url(/images/default/block-template-title-size.png);}
#sub #design-list.horizon .article li.price { top: 26px; width: 130px; left: 160px; background-image: url(/images/default/block-template-title-price.png);}
#sub #design-list.horizon .article li.self-edit { top: 3px; left: 292px; padding: 0;}
#sub #design-list.horizon .article li.self-edit a { display: block; text-indent: -5000px; width: 156px; height: 46px; background: url(/images/default/button-direct-edit.png) no-repeat center center }
#sub #design-list.horizon .article li.self-edit a:hover { background-image: url(/images/default/button-direct-edit-hover.png)}
#sub #design-list.horizon .article li.self-edit a:active { background-image: url(/images/default/button-direct-edit-click.png)}

#sub #design-list.horizon .article li.order-edit { top: 3px; left: 450px;padding: 0; }
#sub #design-list.horizon .article li.order-edit a { display: block; text-indent: -5000px; width: 126px; height: 46px; background: url(/images/default/button-order-edit.png) no-repeat center center }
#sub #design-list.horizon .article li.order-edit a:hover { background-image: url(/images/default/button-order-edit-hover.png)}
#sub #design-list.horizon .article li.order-edit a:active { background-image: url(/images/default/button-order-edit-click.png)}
#sub #design-list.horizon .article li span { display: none; }

/* 템플릿 페이지 목록 스타일 세로형 */
#sub #design-list.vertical { *zoom : 1 }
#sub #design-list.vertical:after {content:" "; display:block; clear:both;}
#sub #design-list.vertical .article { float: left; width: 141px; display: inline; margin: 10px 4px 20px 0; }
#sub #design-list.vertical .article .preview { width: 139px; height: 500px; line-height: 500px; text-align: center; display: block; border: 1px solid #ccc; border-top-left-radius:4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-right-radius:4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px;}
#sub #design-list.vertical .article ul { position: relative; background: url(/images/default/block-template-base-vertical.png) no-repeat; height: 160px; }
#sub #design-list.vertical .article li { position: absolute; height:24px; line-height: 24px; padding-left: 40px; background: no-repeat left center }
#sub #design-list.vertical .article li span { display: none; }
#sub #design-list.vertical .article li.designcode { top: 7px; left: 10px;width: 200px; background-image: url(/images/default/block-template-title-designcode.png);}
#sub #design-list.vertical .article li.item { display: none; }
#sub #design-list.vertical .article li.size { top: 26px; width: 130px; left: 10px; background-image: url(/images/default/block-template-title-size.png);}
#sub #design-list.vertical .article li.price { top: 46px; width: 130px; left: 10px; background-image: url(/images/default/block-template-title-price.png); font-weight: bold;}
#sub #design-list.vertical .article li.self-edit { top: 72px; left: 7px; padding: 0; }
#sub #design-list.vertical .article li.self-edit a { display: block; text-indent: -5000px; width: 126px; height: 45px; background: url(/images/default/button-direct-edit-v.png) no-repeat center center }
#sub #design-list.vertical .article li.self-edit a:hover { background-image: url(/images/default/button-direct-edit-v-hover.png)}
#sub #design-list.vertical .article li.self-edit a:active { background-image: url(/images/default/button-direct-edit-v-click.png)}

#sub #design-list.vertical .article li.order-edit { top: 117px; left: 7px; padding: 0; }
#sub #design-list.vertical .article li.order-edit a { display: block; text-indent: -5000px; width: 126px; height: 35px; background: url(/images/default/button-order-edit-v.png) no-repeat center center }
#sub #design-list.vertical .article li.order-edit a:hover { background-image: url(/images/default/button-order-edit-hover-v.png)}
#sub #design-list.vertical .article li.order-edit a:active { background-image: url(/images/default/button-order-edit-click-v.png)}



/* > 내용 섹션 종료 */

/* 컨텐츠 섹션 종료 */

/* 푸더 섹션 시작 */

#footer { width: 960px; margin: 0 auto}
#help-popup { position: absolute; width: 179px; height: 88px; padding: 22px 15px 25px 15px; background: url(/images/default/nav-help-popup.png); top: 0; left: 0; color: white; text-shadow: 0px 1px black; display: none; }
#help-popup h3 { width: 163px; padding: 0 8px; line-height: 31px; }
#help-popup p { margin: 0; width: 163px; padding: 6px 8px 0; }

/* 푸더 섹션 시작 */