/* @override http://mac.fooleaf.com:3000/css/default.css */

h1,h2,h3,h4,h5,h6,ul, ol, li, form  { margin: 0; padding: 0; list-style: none}
hr { display: none}
img { border: 0 }
h5 { font-size: 12px; font-weight: normal; }

body { background: center top repeat-x; color: #555; font-size: 12px; font-family: NanumGothicOTF, NanumGothic, AppleGothic, dotum, sans-serif; margin: 0;}
a:link { text-decoration: none; color: #333; }
a:visited { text-decoration: none; color: #666; }
a:hover { text-decoration: none; color: #67991a; }
a:active { text-decoration: none; color: #b0681b; }
input, textarea { border: 1px solid #999; border-bottom-color:#ccc; border-right-color:#ccc; font-size:12px; font-family: NanumGothicOTF, NanumGothic, AppleGothic, dotum, sans-serif; background: white url(/images/default/input-text-bg.png) center top repeat-x; }
input { line-height: 20px; height: 20px; padding: 0 3px; background-position: left center ; }
input.submit-button { font-weight: bold; font-size: 12px;border: 1px solid #666; color: white; text-shadow: 0 -1px #333; border-top-color: #999; border-left-color: #999; background: url('/images/default/form-button-bg.png'); height: 24px; cursor: pointer; }
caption { font-size: 11px; color: #999; caption-side: bottom; text-align: right; }

/* 헤더  시작*/

h1 { position: absolute; top: 36px; }

/* > 메뉴 시작*/
#header { width: 960px; height: 186px; margin: 0 auto; position: relative;}
#header #nav-menu { background-repeat: no-repeat; position: absolute; top:142px;left: 0; width: 960px; height: 44px;}
#header #nav-menu h2 { display: none }
#header #nav-menu ul { background: url(/images/default/nav-button-background.png) no-repeat 180px 0px; width: 960px; height: 44px;}
#header #nav-menu li { display: block; position: absolute;  }
#header #nav-menu li.guide { top: 9px; left: 31px; }
#header #nav-menu li.template { top: 9px; left: 210px; }
#header #nav-menu li.designcart { top: 9px; left: 390px; }
#header #nav-menu li.order-delivery { top: 9px; left: 570px; }
#header #nav-menu li.cscenter { top: 9px; left: 810px}
#header #nav-menu li a { display: block; text-indent: -9999px; background-repeat: no-repeat}
#header #nav-menu li.guide a { background-image:url(/images/default/nav-button-guide-out.png); width: 115px; height: 28px;}
#header #nav-menu li.guide a:hover { background-image:url(/images/default/nav-button-guide-in.png);}
#header #nav-menu li.template a { background-image:url(/images/default/nav-button-template-out.png); width: 180px; height: 35px;}
#header #nav-menu li.template a:hover { background-image:url(/images/default/nav-button-template-in.png)}
#header #nav-menu li.designcart a { background-image:url(/images/default/nav-button-designcart-out.png);width: 180px; height: 35px;}
#header #nav-menu li.designcart a:hover { background-image:url(/images/default/nav-button-designcart-in.png)}
#header #nav-menu li.order-delivery a { background-image:url(/images/default/nav-button-order-delivery-out.png); width: 180px; height: 35px;;}
#header #nav-menu li.order-delivery a:hover { background-image:url(/images/default/nav-button-order-delivery-in.png)}
#header #nav-menu li.cscenter a { background-image:url(/images/default/nav-button-cscenter-out.png); width: 115px; height: 28px;}
#header #nav-menu li.cscenter a:hover { background-image:url(/images/default/nav-button-cscenter-in.png) }

/* > 메뉴 종료*/

/* > 상단 퀵 메뉴 시작*/

#header #nav-quick a:link,#header #nav-quick a:visited { color: white; text-decoration: none; } 
#header #nav-quick a:hover { text-decoration: underline !important }
#header #nav-quick h3 { display: none;}
#header #nav-quick ul { background-image: url("/images/default/halfblack.png"); position: absolute; top: 8px; right: 0; *zoom:1; padding: 3px; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
#header #nav-quick ul:after {content:""; display:block; clear:both;}
#header #nav-quick li { float: left; margin: 3px 7px; }

/*  > 상단 퀵 메뉴 종료*/

/* 헤더  끝 */


/* 팝업윈도우 */

#popup-view { border: 1px solid #999; display: none; background-color: White; position: absolute; z-index:100; overflow:hidden}
#popup-closeButton { display:none; background-image: url('/images/default/button-close.png'); position: absolute;z-index:110;width:52px;height:20px;cursor:pointer}
.popup-order-view { position: absolute; z-index: 100; top: 30px; left: 20px; width: 600px; }
#ajaxloadpage { background: url("/images/default/block-popup-bg.png") repeat-x left top white; padding: 0 20px; }
#ajaxloadpage h3 { line-height: 59px; font-size: 18px;}
#ajaxloadpage p { margin: 0; padding: 12px 0; }
#ajaxloadpage fieldset { background-color: #eee; border: 1px solid #ccc; margin: 0; padding: 0; }
#ajaxloadpage fieldset p { margin: 0; padding: 5px 10px; *zoom:1; line-height: 22px; }
#ajaxloadpage fieldset p:after {content:" "; display:block; clear:both;}
#ajaxloadpage legend { display: none; }
#ajaxloadpage #login-form label { width: 80px; display: block; }
#ajaxloadpage #login-form .user-sign-up { display: block; width: 156px;height: 45px; text-indent: -5000px; background:url(/images/default/button-signup.png) ;}
#ajaxloadpage #login-form input { width: 180px; }
#ajaxloadpage #login-form input.submit-button { width: 188px; }
#ajaxloadpage #signup-form .info {  width: 300px; padding: 10px 0; }
#ajaxloadpage #signup-form .info label { width: 100px; display: block; float: left;line-height: 22px; }
#ajaxloadpage #signup-form #user-id { width: 80px; }
#ajaxloadpage #signup-form #user-name { width: 80px; }
#ajaxloadpage #signup-form #user-password { width: 130px; }
#ajaxloadpage #signup-form #user-repassword { width: 130px; }
#ajaxloadpage #signup-form #user-email { width: 160px; }

#ajaxloadpage #signup-form .agree { position: absolute; width: 282px; height: 218px; overflow: auto; top: 98px; left: 337px; line-height: 150%; font-size: 11px; padding: 0 10px 10px; color: #999; background: white; }
#ajaxloadpage #signup-form .agree h2 {  line-height: 30px; padding: 0 10px; border-bottom: 1px solid #ccc; font-size: 12px; }
#ajaxloadpage #signup-form .submit-button { position: absolute; top: 298px ;  left: 20px; width: 302px; height: 30px;}

#ajaxloadpage #edit-user-form label {display: block; width: 110px; line-height: 22px; float: left; }
#ajaxloadpage #edit-user-form .submit-button { position: absolute; top: 289px; left: 20px; width: 320px; height: 30px; }
#ajaxloadpage #edit-user-form input { width: 180px; }
#ajaxloadpage #edit-user-form .withdraw {  display: block; position: absolute; top: 121px; left: 260px;  width: 52px; text-align: center; border: 1px solid #333; border-color: #ccc #999 #999 #ccc; background: url(/images/default/form-button-bg-white.png); color: #666; padding: 0 7px; line-height: 22px;}
#ajaxloadpage #edit-user-form .withdraw:hover { color: #666; font-weight: bold; }
#ajaxloadpage #user-withdraw-form fieldset input { height: 10px; border: none; background: none; }
#ajaxloadpage #user-withdraw-form fieldset p { line-height: 20px; margin: 0; padding: 2px 10px; }
#ajaxloadpage #user-withdraw-form .submit-button { display: block; position: absolute; top: 266px; left: 20px; line-height: 24px; width: 324px; text-align: center; border: 1px solid #333; border-color: #ccc #999 #999 #ccc; background: url(/images/default/form-button-bg-white.png); color: #666; padding: 0 7px; }
#ajaxloadpage #user-withdraw-form .submit-button:hover { color: #666; font-weight: bold; }


/* 컨텐츠 섹션 시작 */

#content { width: 960px; margin: 0 auto; position: relative; overflow: visible; background-color: white; min-height: 680px; height: auto !important; height: 680px;}
#main .content-layout { padding: 10px 190px 30px; width: 580px; }

/* > 사이드 섹션 시작 */
#content .sideblock { background: url(/images/default/block-side-bg.png) no-repeat left bottom; }
#content .sideblock h3 { height: 21px; padding: 0 5px; text-shadow: 0px -1px #333; background:  url(/images/default/block-side-header.png); color: white; font-size: 7pt; font-family: tahoma, sans-serif; line-height: 21px; }
#content #category { position: absolute; width: 170px; left: 10px; top: 10px; padding:0; }
#content #category ul { padding: 10px }
#content #category ul li { padding: 4px 0 8px; line-height: 150%; }
#content #category a.title { font-weight: bold; font-size: 16px;padding-left: 18px; background:  url(/images/default/category-title-icon.png) no-repeat 2px center;  }
#content #category a.title:hover {  font-size: 16px;padding-left: 18px; background:  url(/images/default/category-title-icon-hover.png) no-repeat 2px center;  }
#content #category ul li ul { border: 1px solid #ccc; background: white; margin: 5px 0; *zoom:1; padding: 5px; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
#content #category ul li ul:after {content:" "; display:block; clear:both;}
#content #category ul li ul li { display: inline-block; font-size: 11px; padding: 0;margin: 2px; padding:0 5px; border-radius:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
#content #category ul li ul li:hover { background: #67991a; } #content #category ul li ul li:hover a { color: white;}
#content #category ul li ul li:active { background: #b0681b; } #content #category ul li ul li:active a { color: white;}

/* 메인 이미지 */
#main-button { padding: 6px 1px; *zoom:1;}
#main-button:after {content:" "; display:block; clear:both;}
#main-button li { float: left; width: 182px; height: 54px; background: no-repeat left top; display:table; margin: 0 0 0 8px;cursor: pointer; }
#main-button li.applegreen { background-image: url('/images/main/button-main-applegreen.png'); }
#main-button li.deepgreen { background-image: url('/images/main/button-main-deepgreen.png'); }
#main-button li.deepgray { background-image: url('/images/main/button-main-deepgray.png'); }
#main-button li span { display:table-cell; vertical-align:middle; padding: 12px; text-align: center; color: white; text-shadow: 1px 1px #666; font-weight: bold; }
#main-image { position: relative; width: 580px; height: 326px; line-height: 326px; color: #ccc; background: #eee; text-align: center; }
#main-image img { position: absolute; top: 0; left: 0; display: none; z-index: 1; }
#main-notice, #main-qna { position: relative;width: 400px; padding-top: 18px; height: 118px; }
#main-notice {  border-bottom: 1px solid #ddd; }
#main-notice h3, #main-qna h3 { position: absolute; width: 100px; line-height: 20px; font-size: 14px; }
#main-notice ul, #main-qna ul { padding-left: 100px; }
#main-notice ul li, #main-qna ul li { position: relative; height: 20px; line-height: 20px; margin-bottom: 7px;;;overflow: hidden; }
#main-notice .date, #main-qna .date { position: absolute; top: 0px; right: 0px; color: #bbb; font-size: 9px; font-family: tahoma; height: 20px; width: 60px; text-align: right; background-image: url("/images/main/main-date-bg.png"); }
#main-etcmenu { position: absolute; top: 410px; left: 610px; }
#main-etcmenu h3 { display: none; }
#main-etcmenu li { margin-bottom: 5px; }


/* 로그인 */
#content #quick-section { position: absolute; width: 170px; top : 10px;right: 10px; }
* html #content #myinfo { float: left; }
#content #myinfo #quick-login { border: none; margin: 0; padding: 0 10px 4px }
#content #myinfo #quick-login legend { display: none; }
#content #myinfo #quick-login p { line-height: 23px; *zoom:1; margin: 6px 0;}
#content #myinfo #quick-login p:after {content:" "; display:block; clear:both;}
#content #myinfo #quick-login label { width: 55px; display: block; float: left; }
#content #myinfo #quick-login input { width: 85px; display: block; float: left; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
#content #myinfo #quick-login input.submit-button { width: 150px; }
#content #myinfo .signup-message { padding: 0 10px 10px; margin: 0; }
#content #myinfo .signup-message a { display: block; background: white; text-align: center; background: url("/images/default/form-button-bg-white.png"); line-height: 24px; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border: 1px solid #999; border-top-color:white; border-left-color:white;text-shadow: 0px 1px #ddd;margin: 0 0 6px}
#content #myinfo .signup-message a:hover { color: #333; font-weight: bold; }

/* 내정보 관리 */
#content #info { width: 170px; height: 334px;; background: url(/images/default/block-myinfo-bg.png) no-repeat 1px 26px; position: relative; }
#content #info ul li { position: absolute; display: block; padding: 3px 5px;  border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
#content #info .login-id { width: 111px; text-align: center; font-weight: bold; font-size: 16px; top: 34px; left: 40px; text-shadow: 0 1px white; }
#content #info .login-name { width: 111px; text-align: center; font-size: 12px; top: 53px; left: 40px; text-shadow: 0 1px white; }
#content #info .logout, #content #info .webhard, #content #info li.user-edit { width: 48px; text-align: center; border: 1px solid #333; border-color: #ccc #333 #333 #ccc; background: url(/images/default/form-button-bg.png); }
#content #info a { text-shadow: 0 -1px #333; color:white; font-size:11px}
#content #info a:hover { font-weight: bold;}
#content #info .logout { top: 105px; left:101px; }
#content #info .webhard { top: 80px; left:40px;  width: 109px;  background: url(/images/default/form-button-bg-black.png);}
#content #info li.user-edit { top: 105px; left:40px;}
#content #work-summary h3 { background: none; text-align: center; text-shadow:none; color: #aaa; padding: 3px 0; font-size: 11px; }
#content #work-summary { position: absolute; width: 150px; top: 140px; left: 9px; background-color: white; border: 1px solid #ccc; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
#content #work-summary li { letter-spacing: -1px;width: 130px; height: 13px; padding: 6px 0; border-top: 1px solid #e6e6e6; margin: 0 auto; font-size: 11px; }
#content #work-summary li .none { color: #ccc; }
#content #work-summary li span { position: absolute; right: 10px; }

/* 퀵 링크! */
#content #quick-link { margin-top: 10px; }
#content #quick-link h3 { display: none;}

/*그외 정보 */
#content #quick-information { letter-spacing: -1px; border-radius:6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; margin: 6px 0; border: 1px solid #ccc; padding: 9px; width: 150px; }
#content #quick-information li { width: 110px;padding: 0 0 0 40px; height:60px; line-height: 140%; background-repeat: no-repeat; background-position: left 4px}
#content #quick-information li h4 {  font-size: 12px; }
#content #quick-information li p { margin: 0; padding: 5px 0 5px;  font-size: 11px;}
#content #quick-information li.payment { background-image: url(/images/default/quicksection-payment.png); }
#content #quick-information li.business-time { background-image: url(/images/default/quicksection-business-time.png); }
#content #quick-information li.cscenter-phone { background-image: url(/images/default/quicksection-cscenter.png); height: 50px; }

/* > 사이드 섹션 종료 */

/* 컨텐츠 섹션 종료 */

/* 푸더 섹션 시작 */

#footer { background: url("/images/default/copyright-footer-bg.png"); padding: 10px 10px 20px;}
#footer-wrap { background: white; border: 1px solid #999; width: 940px; margin: 0 auto; position: relative; height: 80px; border-radius:8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; }
#footer-wrap h2 { position: absolute; top: 10px; left: 10px; }
#footer-wrap p { position: absolute;height: 22px; line-height: 22px; background: no-repeat left center; font-style: normal; margin: 0;}
#footer-wrap p.address { top: 30px; left: 180px; padding: 0 0 0 60px;  background-image: url("/images/default/copyright-address.png"); }
#footer-wrap p.telephone { top: 50px; left: 183px; padding: 0 0 0 66px;  background-image: url("/images/default/copyright-phone.png"); }
#footer-wrap p.fax { top: 50px; left: 363px; padding: 0 0 0 34px;  background-image: url("/images/default/copyright-fax.png"); }
#footer-wrap p.email { top: 10px; left: 770px; }
#footer-wrap h3 { display: none; }
#footer-wrap ul { position: absolute; width: 580px; border-bottom: 1px solid #ddd; line-height: 22px; *zoom:1; left: 180px; top: 4px; padding-left: 5px; }
#footer-wrap ul:after {content:""; display:block; clear:both;}
#footer-wrap ul li {  float: left; padding: 0 30px 0 0; line-height: 22px; height: 22px;background: no-repeat left center; }
#footer-wrap ul li strong { display: none; }
#footer-wrap ul li.business-num1 { background-image: url("/images/default/copyright-business-num1.png"); padding-left: 78px }
#footer-wrap ul li.business-num2 { background-image: url("/images/default/copyright-business-num2.png"); padding-left: 78px }
#footer-wrap ul li.privacy { background-image: url("/images/default/copyright-privacy.png"); padding-left: 98px }

#help-popup { position: absolute; width: 179px; height: 88px; padding: 22px 15px 25px 15px; background: url(/images/default/nav-help-popup.png); top: 0; left: 0; color: white; text-shadow: 0px 1px black; display: none; }
#help-popup h3 { width: 163px; padding: 0 8px; line-height: 31px; }
#help-popup p { margin: 0; width: 163px; padding: 6px 8px 0; }

/* 푸더 섹션 시작 */