/* @override http://mac.fooleaf.com:3000/css/default.content.css */


/* 서브페이지 서브 메뉴, 기본 레이아웃 */
#sub #content {	background: #fff url(/images/default/page-sub-bg.png) left 78px no-repeat; }
#sub #submenu { position: absolute; width: 170px; left: 10px; top: 10px; padding:0;  }
#sub #submenu h3 { padding: 40px 0 30px; text-align: center; color: #bbb; font-weight: normal; }
#sub #submenu { position: absolute; width: 170px; left: 10px; top: 10px; padding:0; }
#sub #submenu ul { padding: 0 10px 10px }
#sub #submenu ul li { padding: 4px 0 8px; line-height: 150%; }
#sub #submenu a.title { font-weight: bold; font-size: 12px;padding-left: 14px; background:  url(/images/default/submenu-title-icon.png) no-repeat 2px center;  }
#sub #submenu a.title:hover {  background:  url(/images/default/submenu-title-icon-hover.png) no-repeat 2px center;  }
#sub #submenu ul li ul { border: 1px solid #ccc; background: white; margin: 5px 0; *zoom:1; padding: 5px; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;}
#sub #submenu ul li ul:after {content:" "; display:block; clear:both;}
#sub #submenu ul li ul li { display: inline-block; font-size: 11px; padding: 0;margin: 2px; padding:0 5px; border-radius:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
#sub #submenu ul li ul li:hover { background: #67991a; } #content #submenu ul li ul li:hover a { color: white;}
#sub #submenu ul li ul li:active { background: #b0681b; } #content #submenu ul li ul li:active a { color: white;}
#sub .content-layout { padding: 10px 190px; width: 580px; min-height: 600px; height: auto !important; height: 600px; }
#sub .content-layout h3 { width:580px; height: 30px; padding-top:39px; text-indent:-5000px; background-repeat: no-repeat; background-position: left 29px;}
#sub .content-description { margin: 15px 0 20px; border: 1px solid #ddd; padding: 10px; background: #eee; }

/* 템플릿 페이지 헤더  */
#sub #design.content-layout h3 { display: none;}
#sub #design.content-layout .content-description { display: none;}
#sub #design-list.horizon h4 { width: 560px; height: 35px; margin-top:8px; background: url(/images/default/block-template-header-horizon.png); line-height: 35px; padding: 10px;}
#sub #design-list.vertical h4 { width: 560px; height: 35px; margin-top:8px; background: url(/images/default/block-template-header-vertical.png); line-height: 35px; padding: 10px;}
#sub #design-list #template-type {  position: relative; }
#sub #design-list #template-type li {  position: absolute ;}
#sub #design-list #template-type li.vertical { top: -26px; left: 434px;}
#sub #design-list #template-type li.horizon { top: -26px; left: 290px;}
#sub #design-list #template-type li a { text-indent: -5000px; width: 120px; height:26px; display: block; }


#sub #designcart.content-layout h3 { background-image: url("/images/content/title-designcart.png"); }
#sub #designcart.content-layout .content-description li { list-style: square;margin-left: 14px; line-height: 18px; font-size: 11px;; }
#sub #designcart h4 { font-size: 12px; }

/* 템플릿 페이지 목록 스타일 가로형 */
#sub #design-list.horizon .article { margin: 10px 0; padding: 10px 0; }
#sub #design-list.horizon .article .preview { width: 578px; text-align: center; min-height: 90px; display: block; border: 1px solid #ccc; border-top-left-radius:4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-right-radius:4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px;}
#sub #design-list.horizon .article ul { position: relative; background: url(/images/default/block-template-base-horizon.png) no-repeat; height: 55px; }
#sub #design-list.horizon .article li { position: absolute; height:24px; line-height: 24px; padding-left: 40px; background: no-repeat left center }
#sub #design-list.horizon .article li.designcode { top: 5px; left: 10px;width: 200px; background-image: url(/images/default/block-template-title-designcode.png);}
#sub #design-list.horizon .article li.item { display: none; }
#sub #design-list.horizon .article li.size { top: 26px; width: 130px; left: 10px; background-image: url(/images/default/block-template-title-size.png);}
#sub #design-list.horizon .article li.price { top: 26px; width: 130px; left: 160px; background-image: url(/images/default/block-template-title-price.png);}
#sub #design-list.horizon .article li.self-edit { top: 3px; left: 292px; padding: 0;}
#sub #design-list.horizon .article li.self-edit a { display: block; text-indent: -5000px; width: 156px; height: 46px; background: url(/images/default/button-direct-edit.png) no-repeat center center }
#sub #design-list.horizon .article li.self-edit a:hover { background-image: url(/images/default/button-direct-edit-hover.png)}
#sub #design-list.horizon .article li.self-edit a:active { background-image: url(/images/default/button-direct-edit-click.png)}

#sub #design-list.horizon .article li.order-edit { top: 3px; left: 450px;padding: 0; }
#sub #design-list.horizon .article li.order-edit a { display: block; text-indent: -5000px; width: 126px; height: 46px; background: url(/images/default/button-order-edit.png) no-repeat center center }
#sub #design-list.horizon .article li.order-edit a:hover { background-image: url(/images/default/button-order-edit-hover.png)}
#sub #design-list.horizon .article li.order-edit a:active { background-image: url(/images/default/button-order-edit-click.png)}
#sub #design-list.horizon .article li span { display: none; }

/* 템플릿 페이지 목록 스타일 세로형 */
#sub #design-list.vertical { *zoom : 1 }
#sub #design-list.vertical:after {content:" "; display:block; clear:both;}
#sub #design-list.vertical .article { float: left; width: 141px; display: inline; margin: 10px 4px 20px 0; }
#sub #design-list.vertical .article .preview { width: 139px; height: 500px; line-height: 500px; text-align: center; display: block; border: 1px solid #ccc; border-top-left-radius:4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-right-radius:4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px;}
#sub #design-list.vertical .article ul { position: relative; background: url(/images/default/block-template-base-vertical.png) no-repeat; height: 160px; }
#sub #design-list.vertical .article li { position: absolute; height:24px; line-height: 24px; padding-left: 40px; background: no-repeat left center }
#sub #design-list.vertical .article li span { display: none; }
#sub #design-list.vertical .article li.designcode { top: 7px; left: 10px;width: 200px; background-image: url(/images/default/block-template-title-designcode.png);}
#sub #design-list.vertical .article li.item { display: none; }
#sub #design-list.vertical .article li.size { top: 26px; width: 130px; left: 10px; background-image: url(/images/default/block-template-title-size.png);}
#sub #design-list.vertical .article li.price { top: 46px; width: 130px; left: 10px; background-image: url(/images/default/block-template-title-price.png); font-weight: bold;}
#sub #design-list.vertical .article li.self-edit { top: 72px; left: 7px; padding: 0; }
#sub #design-list.vertical .article li.self-edit a { display: block; text-indent: -5000px; width: 126px; height: 45px; background: url(/images/default/button-direct-edit-v.png) no-repeat center center }
#sub #design-list.vertical .article li.self-edit a:hover { background-image: url(/images/default/button-direct-edit-hover-v.png)}
#sub #design-list.vertical .article li.self-edit a:active { background-image: url(/images/default/button-direct-edit-click-v.png)}

#sub #design-list.vertical .article li.order-edit { top: 117px; left: 7px; padding: 0; }
#sub #design-list.vertical .article li.order-edit a { display: block; text-indent: -5000px; width: 126px; height: 35px; background: url(/images/default/button-order-edit-v.png) no-repeat center center }
#sub #design-list.vertical .article li.order-edit a:hover { background-image: url(/images/default/button-order-edit-hover-v.png)}
#sub #design-list.vertical .article li.order-edit a:active { background-image: url(/images/default/button-order-edit-click-v.png)}

/* 편집의뢰 주문 */
#ajaxloadpage #edit-order-form label { display: block; width: 70px; float: left; }
#ajaxloadpage #edit-order-form .submit-button { position: absolute; left: 20px; top: 283px; width: 270px; height: 40px; font-size: 14px;}
#ajaxloadpage #edit-order-form .description {  height: 100px; }
#ajaxloadpage #edit-order-form p { *zoom:1; }
#ajaxloadpage #edit-order-form p:after {content:" "; display:block; clear:both;}
#ajaxloadpage #edit-order-form .designinfo { position: absolute; width: 270px; left: 20px; top: 100px; }
#ajaxloadpage #edit-order-form .memo { position: absolute; width: 300px; left: 300px; top: 100px; height: 222px; }
#ajaxloadpage #edit-order-form .memo #feedback-memo { width: 274px; height: 120px; }
#ajaxloadpage #edit-order-form .memo #feedback-file { width: 274px; height: 20px; }
#ajaxloadpage #edit-order-form #first-price { position: absolute; top: 230px; left: 20px; width: 270px; }
#ajaxloadpage #edit-order-form #first-price h4 { position: absolute; font-size: 14px;  }
#ajaxloadpage #edit-order-form #first-price p { position: absolute; font-size: 11px; margin: 0; padding: 0; }
#ajaxloadpage #edit-order-form #first-price p.price { font-size: 14px; left: 100px; width: 170px; text-align: right;;  }
#ajaxloadpage #edit-order-form #first-price p.comment { top: 20px; width: 270px; border-top: 1px solid #ddd; padding-top: 8px; color: #999; text-align: center; letter-spacing: -1px }

/* 디자인 카트 목록 */

#designcart table#designcart-list {width: 580px; height: 52px; background: url("/images/content/designcart-table-head.png") no-repeat; }
#designcart table#designcart-list caption {width: 570px; height: 39px; line-height: 39px; background: url("/images/content/designcart-table-foot.png") no-repeat; text-align: left; position: relative; color: #555;padding-left: 10px;; }
#designcart table#designcart-list caption .delete { position: absolute; top: 6px; left: 471px; }
#designcart table#designcart-list thead tr { height: 52px;}
#designcart table#designcart-list .action-select, #designcart table#designcart-list .option-select { display: none; }
#designcart table#designcart-list td.check  { border-left: 1px solid #ddd; }
#designcart table#designcart-list td.option  { border-right: 1px solid #ddd; }
#designcart table#designcart-list tbody td { border-bottom: 1px solid #ddd; padding: 4px 0; height: 50px; }

#designcart table#designcart-list .check  { width: 24px; text-align: center; }
#designcart table#designcart-list .edit-type  { width:70px; text-align: center; }
#designcart table#designcart-list .design  { width:200px; }
#designcart table#designcart-list .size { width:60px; text-align: center; }
#designcart table#designcart-list .price { width:60px; text-align: center; }
#designcart table#designcart-list .date { width:53px; text-align: center; }
#designcart table#designcart-list td.date, #designcart table#designcart-list td.size	{ font-size: 10px; font-family: tahoma}
#designcart table#designcart-list .option  { width:113px; text-align: center; }