/* @override http://mac.fooleaf.com:3000/css/skin.modern.css */

body { background-image: url(/images/skin.modern/background.jpg); background-color: #cecece; background-position: center 0; }
#header #nav-menu { background: none  }
#site_logo img { display: block; margin: 0 auto; }