.para0 {margin-top:0pt;padding-top:10pt;font-size:20pt; color:#1A1918;background-image:url(style_images/para0.png);}
.para1 {margin-top:0pt;padding-top:10pt;font-size:12pt; color:#1A1918;background-image:url(style_images/para1.png);}
.para2 {margin-top:0pt;padding-top:10pt;font-size:19pt; color:#1A1918;background-image:url(style_images/para2.png);}
.para3 {margin-top:0pt;padding-top:10pt;font-size:9pt; color:#1A1918;background-image:url(style_images/para3.png);}
.para4 {margin-top:0pt;padding-top:10pt;font-size:10pt; color:#1A1918;background-image:url(style_images/para4.png);}
.para5 {margin-top:0pt;padding-top:10pt;font-size:15pt; color:#D5007A;background-image:url(style_images/para5.png);}
.para6 {margin-top:0pt;padding-top:10pt;font-size:10pt; color:#1A1918;background-image:url(style_images/para6.png);}
.para7 {margin-top:0pt;padding-top:10pt;font-size:10pt; color:#1A1918;background-image:url(style_images/para7.png);}
.para8 {margin-top:0pt;padding-top:10pt;font-size:9pt; color:#1A1918;background-image:url(style_images/para8.png);}