<script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.fooleaf.js"></script>
<script type="text/javascript" src="/js/member_join.js"></script>

<div id="signup-form">
<h3>회원가입</h3>
<p>안녕하세요. 회원가입을 하시면 차세대 웹 편집 솔루션과 다양한 서비스를 이용할 수 있습니다.</p>

<fieldset class="info">
	<legend>가입정보 입력</legend>
	<p><label for="user-id">가입 아이디</label> <input maxlength="20" name="user[userid]" placeholder="ID" type="text" id="user-id" ><span id="id_check"></span></p>
	<p><label for="user-name">성함</label> <input maxlength="10" name="user[name]" placeholder="이름 또는 회사명" type="text" id="user-name" ></p>
	<p><label for="user-password">비밀번호</label> <input type="password" name="user[password]" placeholder="비밀번호 입력" id="user-password"/></p>
	<p><label for="user-repassword">비밀번호 재확인</label> <input type="password" name="user[re-password]" placeholder="비밀번호 재입력" id="user-repassword"/></p>
	<p><label for="user-email">이메일 주소</label> <input type="text" name="user[email]" placeholder="print@iedit.net" id="user-email"/></p>
</fieldset>
<div class="agree">
	<dl>
		<dt id="signup_tos_title">사이트 이용약관</dt>
		<dd id="signup_tos_content"></dd>
		<dt id="signup_policy_title">개인정보 보호정책</dt>
		<dd id="signup_policy_content"></dd>
	</dl>
	<div class="description">
		<p>저희 사이트는 회원가입시 최소한의 개인정보를 이용하여 운영하고 있습니다. 개인정보 보호 정책을 확인하여, 수집하는 정보 및 이용범위를 확인하시기 바랍니다.</p>
		<p>사이트 이용약관을 확인하고 이용해주시기 바라며, 회원가입시 이용약관에 동의하는것으로 간주됩니다.</p>
	</div>
</div>

<input  onClick="member_join();" type="button" class="submit-button" value="이용약관 동의하며 가입합니다."/>

</div>