<div id="user-withdraw-form">
<h3>회원탈퇴</h3>
<p>그동안 저희 사이트를 이용해주셔서 감사합니다. 이용하시면서 불편하셨던 사항을 체크해주시면 감사하겠습니다.</p>
<form action="################" method="post">
<fieldset>
	<legend>설문조사</legend>
	<p><input type="checkbox" name="reason" id="" value="다른 쇼핑몰에 비해 가격이 비쌈"> 다른 업체에 비해 가격이 비쌈</p>
	<p><input type="checkbox" name="reason" value="원하는 디자인 찾기가 어렵거나 없음"> 원하는 디자인 찾기가 어렵거나 없음</p>
	<p><input type="checkbox" name="reason" value="배송이 늦음"> 배송이 늦음</p>
	<p><input type="checkbox" name="reason" value="이벤트/회원서비스가 다양하지 않음"> 이벤트/회원서비스가 다양하지 않음</p>
	<p><input type="checkbox" name="reason" value="자주 이용하지 않음"> 자주 이용하지 않음</p>
	<p><input type="checkbox" name="reason" value="기타"> 기타</p>
</fieldset>
<a id="<%= current_user.id %>" class="submit-button widthdraw_button" style="cursor:pointer;">회원 탈퇴</a>
</form>
</div>

