	<div id="footer">
		<h2>###사이트제목### 정보</h2>
		<address>
			<p class="address">###주소###</p>
			<p class="telephone">###전화번호###</p>
			<p class="fax">###팩스번호###</p>
			<p class="email">###관리자이메일###</p>
		</address>
		<h2>그외 정보</h2>
		<ul>
			<li><strong>사업자등록번호 : </strong>###사업자등록번호###</li>
			<li><strong>통신판매업번호 : </strong>###통신판매업번호###</li>
			<li><strong>개인정보관리책임자 : </strong>###개인정보관리책임자###</li>
		</ul>
	</div>