<select class="select_subcategory" id="select_subcategory_<%= @sharedimage.id %>">
	<% @subcategories.each do |subcat| %>
	<option value="<%= subcat.id %>"><%= subcat.name %></option>
	<%end %>
</select>