<select class="select_subcategory" id="select_subcategory" name="sel[subcategory]">
	<% @subcategories.each do |subcat| %>
	<option value="<%= subcat.id %>"><%= subcat.name %></option>
	<%end %>
</select>