<div id="guide-page" class="content-layout">
	<h3>이용안내</h3>
	<ul class="content-description">
		<li>주요 메뉴에 대해서 간단하게 설명한 페이지입니다.</li>
		<li><strong>Web Top 편집기</strong> 안내는 실제 편집화면에서 확인할 수 있습니다.</li>
	</ul>
	<p><img src="/images/content/content-guide-1.jpg" alt="content-guide-1" width="580" height="540" /></p>
	<p><img src="/images/content/content-guide-2.jpg" alt="content-guide-2" width="580" height="680" /></p>
	<p><img src="/images/content/content-guide-3.jpg" alt="content-guide-3" width="580" height="568" /></p>
</div>