<%
	## 차후 쉬운 활용을 위한 블록 구분
	@mytemplates_namecard_best = Temp.all(:category => "명함").best
    @mytemplates_banner_best = Temp.all(:category => "현수막").best

    @freeboards = Freeboard.all(:limit => 4, :order => :created_at.desc)
    @notices = Notice.all(:limit => 4, :order => :created_at.desc)  
%>

<div id="main-content" class="content-layout">
	<h4>메인 페이지</h4>
	<p>메인페이지는 마지막 날 작업예정</p>
</div>