<div id="contact-info" class="content-layout">
	<h3>오시는 길</h3>
	<div id="address">
		<h4>주소/지도보기</h4>
		<div id="googleMap" style="width:578px;height:380px;border:1px solid #ddd"></div>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="/js/googleMap.js"></script>
		<script type="text/javascript"> initialize('googleMap','서울 마포구 상수동 9-5','company-address')</script>
	</div>
	<div id="company-address"><strong>주소</strong> 서울 마포구 상수동 9-5</div>
	<div id="contact">
		<h4>연락처</h4>
		<ul>
			<li>전화번호 : ### 전화번호 ###</li>
			<li>팩스번호 : ### 팩스번호 ###</li>
			<li>전자우편 : ### 이멜주소 ###</li>
		</ul>
	</div>
	<div id="contact">
		<h4>영업시간</h4>
		<ul>
			<li>전화번호 : ### 전화번호 ###</li>
			<li>팩스번호 : ### 팩스번호 ###</li>
			<li>전자우편 : ### 이멜주소 ###</li>
		</ul>
	</div>
</div>