<div id="policy" class="content-layout">
	<h3>개인정보 보호정책</h3>
	
	<div id="policy">
		<h4>제 1 장 총 칙</h4>
		<ol>
			<li>개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 이름, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 부호ㆍ문자ㆍ음성ㆍ음향ㆍ영상 및 생체특성에 관한 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함합니다)를 말합니다. ### 사이트명 ###(이하 "회사")(이/가) 보유하는 개인정보와 관련하여 누구든지 자신의 의사에 반하여 자신의 개인정보가 위법하게 침해되거나 공개되지 않을 권리 및 개인정보를 자율적으로 통제할 권리를 갖습니다.</li>
			<li>회사가 취급하는 모든 개인정보는 관련 법령에 근거하거나 정보주체의 동의에 의하여 수집ㆍ보유 및 처리되고 있습니다. 『정보통신망이용촉진및정보보호등에관한법률』상의 개인정보보호규정 및 정보통신부가 제정한 『개인정보보호지침』은 이러한 개인정보의 취급에 대한 일반적 규범을 제시하고 있으며, 회사는 이러한 관련 법령 및 정부지침을 따르고 개인정보를 보호하기 위하여 적극 노력하고 있습니다. 회사는 개인정보취급방침을 통하여 귀하의 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.</li>
			<li>회사는 개인정보취급방침 및 청소년보호정책을 통하여 이용자의 개인정보 보호와 청소년유해정보로부터 청소년을 보호하기 위하여 어떠한 조치가 취해지고 있는지 서비스 홈페이지 첫 화면에 공개함으로써 귀하께서 언제나 용이하게 보실 수 있도록 알려 드리고 있습니다. 회사의 개인정보취급방침 및 청소년보호정책은 관련 법령 및 정부지침의 변경과 내부 방침 등의 변경에 의하여 수시로 변경될 수 있으니, 수시로 방문하셔서 그 내용을 확인하여 주시기 바랍니다.
		</li>
		</ol>
		<h4>제 2 장 개인정보의 수집범위 및 수집방법</h4>
		<ol>
			<li>회사는 귀하께서 서비스를 이용하고자 계정을 등록하실 때 귀하께 서비스 제공을 위해 필요한 최소한의 개인정보만을 수집하고 있으며, 이에 대한 동의를 얻고 있습니다. 회사의 서비스를 이용하시고자 할 경우 다음의 정보를 입력해 주셔야 하며, 그 중 선택항목은 보다 양질의 서비스를 제공하기 위하여 수집하고 있으나, 이를 입력하지 않아도 서비스 이용에 제한이 없습니다.
				<ol >
					<li>회사가 수집하는 개인정보의 범위
						<ul >
							<li>필수항목: 아이디, 비밀번호, 이메일주소, 성함 </li>
							<li>선택항목: 배송주소, 결제관련 정보</li>
						</ul>
					</li>
				</ol>
			</li>
			<li>회사는 귀하께서 회사가 제공하는 회원제서비스를 이용하기 위하여 회원으로 가입할 때 서비스 제공을 위해 필요한 최소한의 개인정보만을 홈페이지, 서면, 전화 등의 방법을 통해 수집하고 있습니다.</li>
		</ol>
		<h4>제 3 장 개인정보수집에 대한 동의</h4>
		<ol >
			<li>회사는 귀하께서 회사의 개인정보취급방침의 각 세부내용 또는 이용약관의 내용에 대해 「동의합니다」버튼 또는 「동의하지 않습니다」버튼을 클릭할 수 있는 절차를 마련하여, 「동의합니다」버튼을 클릭하면 개인정보수집에 대해 동의한 것으로 봅니다.</li>
			<li>귀하께서 가입시 전자우편, 이동전화, 모사전송기 등을 통해 영리목적 광고의 수령과 관련하여 “동의합니다” 버튼을 클릭하면 영리 목적의 광고성 정보 수령에 동의한 것으로 간주합니다.
		</li>
		</ol>
		<h4>제 4 장 개인정보의 수집목적 및 이용목적</h4>
		<ol>
		
			<li>회사는 다음과 같은 목적을 위하여 개인정보를 수집하고 있습니다.
				<ul>
					<li>아이디, 비밀번호, 이메일주소, 성함 : 계정등록 이용에 따른 본인 식별 절차, 중복 가입 확인, 서비스 이용에 따른 본인 식별에 이용.</li>
					<li>이메일 주소 : 고지사항 전달, 본인 의사 확인, 불만 처리 및 고객 문의 답변 등 원활한 의사소통 경로의 확보, 새로운 서비스/신상품이나 이벤트 정보의 안내</li>
					<li>성함 : 게시판, 함께 쓰기 시에 계정을 식별할 수 있는 필명으로 이용</li>
					<li>그 외 선택항목: 배송, 주문, 계산서발행, 온라인 결제 서비스를 진행하기 제공하기 위한 자료</li>
				</ul>
			</li>
			<li>회사는 이용자의 기본적 인권 침해의 우려가 있는 민감한 개인정보(인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 과거의 병력, 유전정보 등 건강상태 및 성생활 등)는 수집하지 않습니다.</li>
			<li>회사는 관계법령을 위반하거나 회사의 서비스 이용약관을 위반한 불량 이용자의 부정이용 재발방지를 위하여 해당 이용자의 IP주소, 방문 일시 등을 수집할 수 있습니다.</li>
			<li>개인정보 수집, 이용 목적 및 수집항목이 변경되는 경우에는 홈페이지(인터넷사이트), 서면, 전화 또는 전자우편 등의 방법을 통하여 동의를 받습니다.
		</li>
		</ol>
		<h4>제 5 장 쿠키(Cookie)에 의한 개인정보수집</h4>
		<ol>
			<li>쿠키(cookie)란?. 쿠키는 웹사이트가 귀하의 컴퓨터 브라우저(넷스케이프, 인터넷 익스플로러 등)로 전송하는 소량의 정보이며, 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.
	      	회사는 본 서비스와 관련하여 귀하의 본 서비스 이용 관련 정보를 수시로 저장하고 찾아내는 쿠키(cookie)를 운영합니다. 쿠키는 저희 사이트에 접속시 자동으로 귀하의 컴퓨터로 전송되는 아주 작은 용량의 텍스트 파일로서 회원님의 컴퓨터 하드디스크에 암호화되어 저장됩니다. 회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.
	      	회사는 회원과 비회원의 접속 빈도의 차이나 반복 사용 정도 등 이용자의 이용 행동에 관한 정보를 파악하여 광고 등에 사용합니다. 쿠키는 회사의 저희 사이트에서 ID인증을 위해서나 ID인증 사용을 돕기 위하여 사용되며, 기타 이벤트나 설문조사에서 귀하의 참여 경력을 확인하기 위해서도 사용됩니다.
	      	이러한 쿠키들을 이용하여 귀하가 방문한 저희 사이트의 이용형태를 파악함으로써 더 유용하고 이용하기 편리한 서비스를 만들어 제공할 수 있게 됩니다. 귀하는 쿠키에 대한 선택권을 가지고 있습니다. 귀하의 웹브라우저에서 옵션을 선택함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다. 단, 쿠키의 저장을 거부하실 경우 ID인증 로그인이 필요한 회사의 사이트는 이용하실 수 없게 됩니다.
		</li>
		</ol>
		<h4>제 6 장 개인정보의 목적 외 사용 및 제3자에 대한 제공 및 공유</h4>
		<ol >
			<li>회사는 귀하의 개인정보를 「개인정보의 수집목적 및 이용목적」에서 고지한 범위 내에서 사용하며, 동 범위를 초과하여 이용하거나 귀하의 동의 없이 제3자 또는 기관에 제공하지 않습니다.</li>
			<li>회사는 귀하께 해당 서비스들을 적합하게 제공하기 위하여 필요한 최소한의 범위에서 본 개인정보취급방침에 따라 수집한 귀하의 개인정보중 일부를 해당 서비스들의 제공을 위하여 회사와 제휴한 제휴사에게 제공할 수 있습니다.</li>
		      	<li>회사는 본 개인정보취급방침에서 명시된 범위를 초과하여 이용하거나 타인 또는 타기업 기관에 귀하의 개인정보를 제공하지 않습니다. 다만, 귀하의 동의가 있거나 다음 각호의 어느 하나에 해당하는 경우에는 제2항에 대한 예외로 합니다.
				<ul>
					<li>서비스 제공에 따른 요금 정산을 위하여 필요한 경우</li>
					<li>관계법령에 의하여 수사, 재판 또는 행정상의 목적으로 관계기관으로부터의 요구가 있을 경우</li>
					<li>통계작성, 학술연구나 시장조사를 위하여 특정 개인을 식별할 수 없는 형태로 가공하여 제공하는 경우</li>
					<li>금융실명거래및비밀보장에관한법률, 신용정보의이용및보호에관한법률, 전기통신기본법, 전기통신사업법, 지방세법, 소비자보호법, 한국은행법, 형사소송법 등 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우</li>
				</ul>
			</li>
			<li>보 다 나은 서비스 제공을 위하여 회사가 귀하의 개인정보를 타기업 등 제3자에게 제공하는 것이 필요한 경우에는 회사는 사전에 제휴사가 누구인지, 제공 또는 공유되어야 하는 개인정보항목이 무엇인지, 제공 또는 공유되는 개인정보의 이용목적, 그리고 언제까지 공유되며 어떻게 보호 관리되는 지에 대하여 귀하께 고지하여 동의를 구하는 절차를 거칠 것이며, 귀하께서 동의하지 않는 정보는 제3자에 제공하거나 제3자와 공유하지 않습니다. 이 경우 고지 및 동의방법은 홈페이지 초기화면의 공지사항을 통해 최소 7일 이전부터 고지함과 동시에 e-mail 등을 이용하여 1회 이상 개별적으로 고지하거나 홈페이지, 서면, 전화 또는 전자우편 등의 방법을 통하여 동의를 받습니다. 또한, 회사가 서비스의 제공, 판매 권리를 정당한 절차에 의해 양도할 경우 이로 인한 개인정보의 양도는 적극적인 동의방법(개인정보의 제3자 제공 및 공유에 대한 동의)에 의해서만 진행합니다. 회사는 개인정보취급방침에서 정한 본래의 수집목적 및 이용목적에 반하여 무분별하게 귀하의 개인정보가 제공되지 않도록 최대한 노력하겠습니다.
		</li>
		
		</ol>
		<h4>제 7 장 개인정보의 열람, 정정</h4>
		<ol>
			<li>귀하는 언제든지 등록되어 있는 귀하의 개인정보를 열람하거나 정정하실 수 있습니다. 개인정보 열람 및 정정을 하고자 할 경우에는 귀하의 『내 정보 관리』를 클릭하여 직접 열람 또는 정정하실 수 있습니다. 회사의 고객센터에 서면, 전화 또는 E-mail로 연락하시면 지체없이 조치하겠습니다.</li>
			<li>귀하가 개인정보의 오류에 대한 정정을 요청한 경우, 정정을 완료하기 전까지 당해 개인 정보를 이용 또는 제공하지 않습니다.</li>
			<li>회사는 개인정보를 정정 조치하는 경우, 그 사실을 지체 없이 귀하에게 통지하고, 개인정보의 전부 또는 일부에 대해 열람 또는 정정을 거절할 정당한 이유가 있는 경우에는 귀하에게 지체 없이 통지하고 그 이유를 설명하겠습니다.
		</li>
		</ol>
		<h4>제 8 장 개인정보 수집, 이용, 제공에 대한 동의 철회</h4>
		<ol>
			<li>귀하는 계정등록 등을 통해 개인정보의 수집, 이용, 제공에 대해 동의하신 내용을 언제든지 철회하실 수 있습니다. 동의철회(회원탈퇴)는 저희 사이트 서비스에 로그인 후 『내 정보 관리』 페이지로 이동하시거나 회사의 고객센터로 연락하시면 개인정보관리자가 이를 확인한 후 귀하의 개인정보를 삭제, 파기하고, 이러한 사실을 즉시 통지하여 드립니다. </li>
			<li>회사는 개인정보의 수집에 대한 동의철회(회원탈퇴)를 개인정보를 수집하는 방법보다 쉽게 할 수 있도록 필요한 조치를 취하겠습니다.
		</li>
		</ol>
		<h4>제 9 장 개인정보의 보유기간 및 이용기간</h4>
		<ol>
			<li>귀하의 개인정보는 개인정보의 수집목적 또는 제공받은 목적이 달성되면 파기됩니다. 다만, 분실•도난•누출•변조•훼손 등을 막기 위해 회원의 이용계약 해지 시로부터 40일 동안 회원의 개인정보를 보관합니다</li>
			<li>이용약관 및 관계법령을 위반한 회원의 경우 다른 회원을 보호하고 사법기관 수사의뢰 시 증거자료로 활용하기 위해 회원탈퇴 후 6개월까지 회원정보를 보관할 수 있습니다.</li>
			<li>전자상거래등에서의소비자보호에관한법률』등에 근거하여 거래 관련 권리 의무 관계의 확인 등을 이유로 일정기간 보유하여야 할 필요가 있을 경우에는 일정기간 보유합니다.
				<ul>
					<li>계약 또는 청약철회 등에 관한 기록: 5년</li>
					<li>대금결제 및 재화 등의 공급에 관한 기록: 5년</li>
					<li>소비자의 불만 또는 분쟁처리에 관한 기록: 3년</li>
					<li>이용자의 신분증 사본(이용자의 법정대리인의 신분증 사본): 1년</li>
					<li>이용자의 법정대리인 동의서: 1년</li>
					<li>보유기간을 이용자에게 미리 고지하거나 개별적으로 이용자의 동의를 받은 경우: 고지하거나 개별 동의한 기간 </li>
				</ul></li>
			<li>귀하의 동의를 받아 보유하고 있는 거래정보 등을 귀하께서 열람을 요구하는 경우 회사는 지체 없이 열람, 확인할 수 있도록 조치합니다.
		</li>
		</ol>
		<h4>제 10 장 개인정보의 파기 절차 및 방법</h4>
		<p>정보통신망이용촉진및정보보호등에관한법률 등 관련 법률 및/또는 본 개인정보취급방침에서 예외적으로 보관하는 것으로 정한 바를 제외하고는 회사는 개인 정보의 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기 절차 및 방법은 다음과 같습니다.</p>
		<ol>
			<li>파기 절차 									
				<ul>
					<li>귀하께서 회원 가입등을 위해 입력하신 정보는 목적이 달성된 후 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.
	  		동 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.</li>
				</ul>
			</li>
			<li>파기방법 <ul>
				<li>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</li>
				<li>전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</li>
			</ul>
			</li>
		</ol>
		<h4>제 11 장 링크사이트</h4>
		<p>회사는 귀하께 다른 회사의 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 이 경우 회사는 외부사이트 및 자료에 대한 아무런 통제권이 없으므로 그로부터 제공받는 서비스나 자료의 유용성, 진실성, 적법성에 대해 책임질 수 없으며 보증할 수 없습니다. 회사가 포함하고 있는 링크를 클릭(click)하여 타 사이트(site)의 페이지로 옮겨갈 경우 해당 사이트의 개인정보취급방침은 회사와 무관하므로 새로 방문한 사이트의 정책을 확인하시기 바랍니다.</p>
		<h4>제 12 장 청소년 보호 정책</h4>
		<p>회사는 각종 청소년 유해정보로부터 청소년을 보호하고자 관계법령에 따라 만19세 미만의 청소년들이 유해정보에 접근할 수 없도록 청소년보호정책을 마련하여 시행하고 있습니다. 또한 회사는 청소년의 건전한 성장을 저해하는 음란, 불법 등의 유해정보와 비윤리적, 반사회적 행위에 대해서는 엄격하게 제재하기 위하여 다음과 같이 활동하고 있습니다.</p>
		<ul>
			<li>청소년유해정보로부터의 청소년보호계획의 수립</li>
			<li>청소년유해정보에 대한 청소년접근제한 및 관리조치</li>
			<li>정보통신업무 종사자에 대한 청소년유해정보로부터의 청소년보호를 위한 교육</li>
			<li>청소년유해정보로 인한 피해상담 및 고충처리</li>
			<li>그 밖에 청소년유해정보로부터 청소년을 보호하기 위하여 필요한 사항</li>
		</ul>
		<h4>제 13 장 청소년 윤리 강령 및 청소년 보호 법규 준수</h4>
		<ol>
			<li>회사는 청소년들이 인터넷을 이용함에 있어, 밝고 건전한 환경을 조성하고, 올바른 인터넷 이용을 선도하며 청소년이 나와 타인을 존중할 수 있는 인격체로의 성장할 수 있도록 돕기 위해 "청소년보호를 위한 인터넷기업 윤리강령"과 “실천지침”을 준수합니다.</li>
			<li>회사는 다음과 같은 청소년 보호 관련 법규를 준수합니다.
				<ul>
					<li>정보통신윤리심의규정 </li>
					<li>국가청소년위원회 청소년유해매체물 심의규정</li>
				</ul>
			</li>
		</ol>
		<h4>제 14 장 이용자의 권리와 의무</h4>
		<ol>
			<li>귀하의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해주시기 바랍니다. 이용자가 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 이용자 자신에게 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 계정의 이용이 제한될 수 있습니다.</li>
		
			<li>귀하는 개인정보를 보호받을 권리를 보유하나 이와 동시에 본인의 정보를 스스로 보호하고 또한 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 비밀번호를 포함한 귀하의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해 주십시오. 만약 이와 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 『정보통신망이용촉진및정보보호등에관한법률』등에 의해 처벌받을 수 있습니다.</li>
		</ol>
		<h4>제 15 장 고지의 의무</h4>
		<p>현 개인정보취급방침은 ### 개설일 ###에 제정되었으며 내용의 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일 전부터 홈페이지의 '공지사항'란을 통해 고지할 것입니다.</p>
		
		<h4>제 16장 서비스 이용자 개인정보 보호를 위한 보안대책</h4>
		<h5>제1조 개인정보보호를 위한 기술적 대책</h5>
		<ol>
			<li>회사는 귀하의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다.
			<ul>
				<li>귀하의 개인정보는 비밀번호에 의해 보호되고 있고 이용자 계정의 암호는 오직 본인만이 알 수 있으며, 개인정보 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.</li>
				<li>회사는 해킹 등 외부침입에 대비하여 귀하의 개인정보가 유출되는 것을 막기 위해 현재 외부로부터 침입을 차단하는 장치를 이용하여 외부로부터의 공격, 해킹 등을 막고 있습니다.</li>
				<li>회사는 만약의 사태에 대비하여 시스템과 데이터를 백업하는 체제를 갖추고 있습니다.</li>
				<li>회사는 백신프로그램을 이용하여 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트되며, 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 제공함으로써 개인정보가 침해되는 것을 방지하고 있습니다.</li>
			</ul>
			</li>
		</ol>
	 	<h5>제2조 개인정보보호를 위한 관리적 대책 </h5>
	 	<ol>
			<li>회사는 귀하의 개인정보에 대한 접근권한을 최소한의 인원으로 제한하고 있습니다. 그 최소한의 인원에 해당하는 자는 다음과 같습니다.
			<ul>
				<li>이용자를 직접 상대로 하여 마케팅업무를 수행하는 자</li>
				<li>개인정보고충 처리 부서 및 담당자 등 개인정보관리업무를 수행하는 자</li>
				<li>기타 업무상 개인정보의 취급이 불가피한 자</li>
			</ul></li>
			<li>개인정보를 취급하는 직원을 대상으로 새로운 보안기술 습득 및 개인정보보호의무 등에 관해 정기적인 사내교육 및 외부위탁교육을 실시하고 있습니다.</li>
			<li>입사 시 전 직원의 보안서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보취급방침에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 내부절차를 마련하고 있습니다.</li>
			<li>개인정보 관련 취급자의 업무인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고 있으며 입사 및 퇴사 후 개인정보 사고에 대한 책임을 명확화하고 있습니다. </li>
			<li>개인정보와 일반 데이터를 혼합하여 보관하지 않고 별도의 서버를 통해 분리하여 보관하고 있습니다.</li>
			<li>전산실 및 자료보관실 등을 특별보호구역으로 설정하여 출입을 통제하고 있습니다.</li>
			<li>회사는 이용자 개인의 실수 혹은 인터넷의 본질적인 위험성으로 인하여 야기되는 개인정보유출에 대해 책임을 지지 않습니다. 이용자는 본인의 개인정보를 보호하기 위해서 자신의 계정과 비밀번호를 적절하게 관리하고, 그에 대한 책임을 져야 합니다.</li>
	 	</ol>
	 	<h4>제 17 장 서비스 이용자 개인정보 고충 처리 부서</h4>
		
	 	<ol>
			<li>회사는 귀하께서 좋은 서비스를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 회사의 귀책 사유로 귀하께 고지한 사항들에 반하는 사고가 발생할 시에 개인정보고충 처리 부서가 모든 책임을 집니다. 그러나 기술적인 보완조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보가 훼손, 침해, 누설되는 경우 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 회사의 책임이 없습니다.</li>
			<li>귀하의 개인정보를 취급하는 고충처리 부서는 다음과 같으며, 개인정보 관련 문의사항에 신속하고 성실하게 답변해드리고 있습니다.</li>
			<li>개인정보관리 책임자, 청소년 보호 담당자		
				<ul>
					<li>성명 : ### 개인정보관리 책임자 ### </li>
					<li>직위 : ### 개인정보관리 책임자 직위 ### </li>
					<li>전자우편 : ### 개인정보관리 책임자 이메일 ### </li>
					<li>전화번호 : ### 개인정보관리 책임자 전화번호 ### </li>
		
					<li>팩스번호 : ### 개인정보관리 책임자 팩스번호 ### </li>
				</ul>
			</li>
	 	</ol>
	 	<h4>제 18 장 서비스 고객센터</h4>
	 	<h5>제1조 의견 수렴 및 불만 처리 </h5>
	 	<ol>
		
			<li>회사는 귀하의 의견을 소중하게 생각하며, 귀하는 의문사항으로부터 언제나 성실한 답변을 받을 권리가 있습니다. </li>
			<li>회사는 귀하와 원활한 의사소통을 위해 고객센터를 운영하고 있습니다</li>
	 	</ol>
	 	<h5>제2조 고객센터 안내 </h5>
	 	<ol>
			<li>회사의 고객센터는 다음과 같습니다 
				 <ul>
					<li>전자우편 ###관리자이메일### </li>
		
					<li>전화번호 ###전화번호### </li>
					<li>팩스번호 ###팩스번호### </li>
					<li>주소 ###주소###</li>
				 </ul>
			 </li>
			 <li>전화상담은 월요일 ~ 금요일 (오전 9시 ~ 오후 6시)에 운영하고 있습니다. </li>
			 <li>전자우편이나 팩스 및 우편을 이용한 상담은 접수 후, 최단시간 내에 성실하게 답변 드리겠습니다. 다만, 근무시간 이후 또는 주말 및 공휴일에는 그 다음 영업일 처리하는 것을 원칙으로 합니다. </li>
		
			 <li>기타 개인정보에 관한 상담이 필요한 경우에는 개인정보침해신고센터(http://www.cyberprivacy.or.kr/), 경찰청 사이버테러대응센터 (http://ctrc.go.kr/)등으로 문의하실 수 있습니다. </li>
	 	</ol>
	 	<p>개인정보취급방침 시행일자 : ### 사이트 개설일 ###</p>
	</div>
</div>