<div id="tos" class="content-layout">
	<h3>사이트 이용약관</h3>
	<div id="tos_content">
		<h4>제 1 장 총칙</h4>
		<h5>제1조 (목적)</h5>
		<p>본 약관은 <%= Admininfo.first(:category => "basic_info", :name => "회사명").content %>(이하, '회사')(이/가) 제공하는 웹사이트 서비스 (이하, '서비스')를 이용하는 서비스 이용자(이하, '회원')와 회사간에 서비스의 이용에 관한 기본적인 사항을 규정하는 것을 목적으로 합니다.</p>

		<h5>제2조 (약관의 공시, 효력 및 개정)</h5>
		<ol>
			<li>본 약관은 회원이 최초로 서비스를 이용하는 형태에 따라 인터넷 서비스 이용 계약의 성격상 부득이하게 웹사이트 또는 애플리케이션 내 설정페이지 등에 본 약관을 명시하고, 회원이 본 약관에 동의함으로써 효력이 발생됩니다.</li>
			<li>회사는 본 약관을 변경할 수 있으며, 변경된 약관은 약관 적용일 전 7일간(다만, 회원의 권리?의무에 중대한 영향을 미치는 사항에 대하여는 30일간) 웹사이트 또는 회원 개인에게 e-mail 발송 등을 통해 회원에게 공지되고 적용일에 효력이 발생됩니다.</li>
			<li>회원은 변경된 약관에 대해 동의하지 않을 권리가 있으며, 변경된 약관에 동의하지 않을 경우에는 서비스 이용을 중단하고 탈퇴할 수 있습니다. 다만, 회원이 제2항의 방법 등으로 별도로 고지한 바에 따라 변경된 약관의 적용일로부터 15일 이내에 회사에 대해 "거부"의 의사표시를 하지 아니하는 경우에는 변경된 약관에 동의한 것으로 간주합니다.</li>
		</ol>

		<h5>제3조 (약관 외 준칙)</h5>
		<p>본 약관에 명시되지 않은 사항이 관계법령에 규정되어 있을 경우에는 그 규정에 따릅니다.</p>

		<h5>제4조 (용어의 정의)</h5>
		<ol>
			<li>본 약관에서 사용하는 용어의 정의는 다음과 같습니다.<ol>
				<li>웹사이트 서비스 (이하, '서비스') : 개인용 컴퓨터 (PC), TV, 휴대형 단말기, 전기통신설비 등 포함 각종 유무선 장치를 통하여 인터넷 등 정보통신망에서 정보 또는 자료의 관리/저장/공유를 위한 정보통신망 상의 웹서비스를 의미합니다.</li>
				<li>서비스 이용자 (이하, '회원') : 회사와 서비스 이용계약을 체결하고 ID, 개인 저장공간을 생성하여 서비스를 이용하는 모든 회원을 의미합니다.</li>
				<li>서비스 이용자 아이디 (이하, 'ID') : 회원의 식별 및 서비스 이용을 위하여 회원이 선정하고 회사가 부여한 영문자 및 숫자의 조합을 의미합니다. 회원은 서비스 이용자 아이디로 회사 및/또는 제3자가 제공하는 오픈 아이디를 사용할 수도 있습니다.</li>
				<li>서비스 이용자 비밀번호 (이하, "비밀번호") : 회원의 아이디 확인 및 권익보호를 위해 회원이 부여한 문자와 숫자의 조합을 의미합니다.</li>
				<li>게시물 : 회원이 서비스를 이용함에 있어 회원이 게시한 문자, 문서, 그림, 음성 혹은 이들의 조합으로 이루어진 정보 등 모든 정보나 자료를 의미합니다.</li>
			</ol></li>

			<li>본 약관에서 사용하는 용어의 정의는 제1항에 정하는 것을 제외하고는 관계법령 및 기타 일반적인 상관례에 의합니다.</li>
		</ol>

		<h4>제 2 장 서비스 이용계약</h4>
		<h5>제5조 (이용계약, 이용 신청 및 승인)</h5>
		<ol>
			<li>이용계약은 회원이 서비스 웹사이트에서 서비스 이용 약관에 동의한 후 이용신청을 하고 신청한 내용에 대해 회사가 승인함으로써 체결됩니다. 회사는 업무 수행상 또는 기술상 지장이 없는 경우에 원칙적으로 접수 순서에 따라 서비스 이용을 승낙합니다.</li>
			<li>회원은 제1항의 이용 신청 시 반드시 회원의 실제정보를 기재하여야 하며, 제3자의e-mail 주소, ID 등 제3자의 개인정보를 도용하는 등 부정한 방법으로 회원 본인의 실제정보를 기재하지 아니한 회원은 관계법령 또는 약관에 따라 처벌되거나 불이익을 받을 수 있을 뿐만 아니라 회사는 제6조에 의거하여 추후 이용승인을 취소 또는 계약을 해지할 수 있습니다.</li>
			<li>회원은 회사에 언제든지 회원 탈퇴를 요청할 수 있으며, 회사는 위 요청을 받았을 경우 서비스 웹사이트 또는 애플리케이션 등을 통하여 회사가 고지한 방법에 따라 신속하게 처리를 합니다.</li>
			<li>회사는 회원의 등급을 구분하고 이용시간, 이용횟수, 서비스 메뉴 등 서비스의 내용을 회원 등급별로 다르게 제공할 수 있습니다.</li>
			<li>회원은 회원 가입 시 기재한 개인정보의 내용에 변경이 발생한 경우, 즉시 변경사항을 정정하여 기재하여야 하고, 변경의 지체로 인하여 발생한 회원의 손해에 대해 회사는 책임을 지지 않습니다.</li>
			<li>회사는 서비스 제공을 위해 필요한 경우 관련 법률 및 회사의 개인정보취급방침에서 정한 바에 따라 회원에게 요청하는 회원정보 및 기타정보 항목을 추가, 삭제 등 변경하여 수집 및 이용할 수 있습니다.</li>
		</ol>

		<h5>제6조 (이용신청의 승인 여부)</h5>
		<ol>
			<li>회사는 회원가입 신청자가 다음 각 호에 해당할 경우 회원가입 신청을 승인하지 않거나, 추후 확인 시에 승인을 취소 또는 서비스 이용 계약을 해지할 수 있습니다.
			<ol>
				<li>제3자의 e-mail주소, ID 등 개인 정보를 이용 또는 도용하여 신청한 경우</li>
				<li>이용신청 시의 필수 기재사항을 누락하거나 사실과 다르게 기재하여 신청하는 경우</li>
				<li>회사의 정책에 적합하지 않는 회원으로 판단되는 경우나 서비스 제공이 곤란한 경우</li>
				<li>부정한 용도로 서비스를 이용하고자 하는 경우</li>
				<li>회사가 정한 이용신청 요건이 미비된 경우</li>
				<li>회사가 정하는 이용 목적과 방법에 반하여 서비스를 이용하고자 하는 경우</li>
				<li>회원의 이용 목적이나 행위가 회사의 재산권이나 영업권을 침해하거나 침해할 우려가 있는 경우</li>
				<li>가입 신청자가 이 약관에서 정한 바를 위반하여 회사로부터 회원 자격을 박탈 당한 회원인 경우</li>
				<li>본 약관이나 기타 규정을 위반하여 신청하는 경우</li>
				<li>프로그램 등록, 아르바이트 고용 등 비정상적인 방법을 통하여 ID 및 개인저장공간을 대량으로 생성하는 행위</li>
				<li>기타 회원의 귀책 사유로 승인이 불가능하다고 판단되는 경우</li>
			</ol></li>

			<li>회사는 다음 각호에 해당하는 경우에는 회원가입 신청에 대한 승인제한 사유가 해소될 때까지 승인을 제한할 수 있습니다.
			<ol>
				<li>서비스의 설비가 부족하여 모든 회원에게 만족스러운 서비스를 제공할 수 없다고 판단될 경우</li>
				<li>시스템에 대한 공격 등 기술상의 사유로 인하여 회원 등록에 일시적 또는 상당 기간 지장이 있다고 판단되는 경우</li>
				<li>서비스 제공과 관련하여 기술상의 장애가 발생한 경우</li>
			</ol></li>

		</ol>

		<h5>제7조 (회원 ID 및 비밀번호)</h5>
		<ol>
			<li>ID 및 회원이 직접 선정한 비밀번호에 대한 관리책임은 해당 회원에게 있습니다. 회원이 본인의 ID 및 비밀번호를 소홀히 관리하여 발생하는 서비스 이용상의 손해 또는 회사의 고의 또는 중대한 과실이 없는 제3자의 부정이용 등에 대한 책임은 회원에게 있으며 회사는 그에 대한 책임을 지지 않습니다.</li>
		</ol>

		<h5>제8조 (개인정보의 보호 및 사용)</h5>
		<ol>
			<li>회사는 개인정보 보호를 위해 보안시스템을 구축하며 개인정보취급방침을 공시하고 개인정보취급방침에 따라 회원의 개인정보를 철저히 보호합니다.</li>
			<li>회사는 서비스를 중단하거나 회원이 개인정보 제공 동의를 철회한 경우에는 신속하게 회원의 개인정보를 파기합니다. 단, 전자상거래 등에서의 소비자 보호에 관한 법률 등 관련 법률에서 정하는 바에 따라 일정 정보는 보관할 수 있습니다.</li>
			<li>회사는 서비스 개선 및 회원 대상의 서비스 소개 등의 목적으로 회원의 동의 하에 관계 법령에서 정하는 바에 따라 추가적인 개인정보를 수집할 수 있습니다.</li>
			<li>회사는 회원의 귀책사유로 인하여 노출된 회원의 계정정보를 포함한 모든 정보에 대해서 일체의 책임을 지지 않습니다.</li>
			<li>회사는 법률에 특별한 규정이 있는 경우를 제외하고는 회원의 별도 동의 없이 회원의 계정정보를 포함한 일체의 개인정보를 제3자에게 공개하거나 제공하지 아니합니다.</li>
		</ol>

		<h5>제9조 (게시물 등 저작물에 대한 저작권)</h5>
		<ol>
			<li>회사가 작성한 게시물 또는 저작물에 대한 저작권 기타 지적재산권은 회사에 귀속 되고, 회원이 서비스 내에 작성한 저작물의 내용의 대한 저작권은 작성한 회원에게 귀속됩니다.</li>
			<li>회원은 다른 사람에게 자신의 저작물의 공개 및 배포와 이용을 허락할 수 있고, 이용허락을 받은 자는 "허락 받은 이용방법 및 조건의 범위 안에서" 저작물을 이용할 수 있습니다. 단, 회사는 서비스의 운영 및 홍보를 위해 회원이 공개한 저작물에 한해 서비스가 제공되는 범위 및 기간 내에서 복제, 전시, 배포할 수 있으며, 관계법령이 정하는 범위 내에서 최소한의 편집과 수정을 가할 수 있습니다. 회원이 자신의 저작물을 공개 및 배포와 이용허락을 한 경우 이로부터 발생한 모든 분쟁에서 회사는 면책됩니다.</li>
			<li>회원이 저작물에 대하여 삭제, 변경, 공개 설정 변경, 라이센스 설정 변경 등을 한 경우, 저작물의 설정이 변경되기 전에 이미 제3자에게 배포 또는 이용되어 발생하는 결과에 대하여 회사는 책임지지 않습니다.</li>
			<li>공동 저작자들 간에 발생한 분쟁에 대해 회사는 책임지지 않습니다.</li>
			<li>회원이 회원탈퇴를 한 경우에는 개인저장공간에 기록된 저작물 일체는 삭제됩니다. 단, 게시판을 통해 작성된 경우에는 해당 게시물이 남을 수 있고, 제3자에 의하여 보관되거나 무단복제 등을 통하여 복제됨으로써 해당 저작물이 삭제되지 않고 재 게시된 경우에 대하여 회사는 책임을 지지 않습니다. 또한, 본 약관 및 관계 법령을 위반한 회원의 경우 다른 회원을 보호하고, 법원, 수사기관 또는 관련 기관의 요청에 따른 증거자료로 활용하기 위해 회원탈퇴 후에도 관계 법령이 허용하는 한도에서 회원의 ID 및 개인저장공간을 보관할 수 있습니다.</li>
			<li>회원의 게시물 또는 저작물이 회사 또는 제3자의 저작권 등 지적재산권을 침해함으로써 발생하는 민?형사상의 책임은 전적으로 회원이 부담하여야 합니다.</li>
			<li>회원은 본 조 제2항의 사용권 부여가 회사가 본 서비스를 운영하는 동안 확정적으로 유효하며, 회원의 탈퇴 후에도 유효함에 동의합니다.</li>
		</ol>

		<h4>제 3장 계약 당사자의 의무</h4>
		<h5>제10조 (회사의 의무와 책임)</h5>
		<ol>
			<li>회사는 계속적이고 안정적인 서비스의 제공을 위하여 최선을 다합니다. 단, 회사는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절, 정기점검 또는 운영상 필요에 의한 목적으로 서비스를 일시 중지할 수 있습니다.</li>
			<li>회사는 서비스의 제공에 필요할 경우 정기점검을 실시할 수 있으며, 정기점검 시간은 홈페이지에 공지한 바를 따릅니다.</li>
			<li>회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 객관적으로 인정될 경우에는 신속하게 처리하여야 합니다. 다만, 처리에 장기간이 소요되는 경우에는 회원에게 그 사유와 처리 일정을 공지하거나 e-mail로 개별 통보하여야 합니다.</li>
			<li>회사는 회원이 안전하게 서비스를 이용할 수 있도록 현재 인터넷 보안기술의 발전수준과 회사가 제공하는 서비스의 성격에 적합한 보안 시스템을 구축 및 운영합니다.</li>
			<li>회사는 개인정보취급방침 및 청소년 보호정책을 공시하고 준수합니다.</li>
			<li>회사는 e-mail 수신 동의를 한 회원에게 서비스 이용에 있어 반드시 필요하다고 인정되는 각종 정보를 e-mail로 제공할 수 있습니다. 단, 회원이 수신을 거부하여 이에 대한 정보를 받지 못하는 경우, 회사는 이에 대하여 책임을 지지 않습니다.</li>
			<li>회사는 정보통신망 이용촉진 및 정보보호에 관한 법률, 통신비밀보호법, 전기통신사업법 등 서비스의 운영, 유지와 관련 있는 법규를 준수합니다.</li>
		</ol>

		<h5>제11조 (회원의 의무와 책임)</h5>
		<ol>
			<li>회원은 서비스 이용신청을 함에 있어서 ID 및 도메인 등록 시 모든 사항을 사실에 근거하여 작성하여야 하며 허위정보를 제공해서는 안됩니다. 허위정보 또는 제3자의 정보로 이용신청을 한 경우 회사로부터 어떠한 보호조치도 받을 수 없습니다.</li>
			<li>회원은 서비스 자체 또는 서비스를 이용함으로써 얻은 정보를 회사의 사전승낙 없이 회사가 정하는 목적과 이용 방법에 반하여 이용하거나 제3자에게 이용하게 해서는 안됩니다.</li>
			<li>회원은 회사에서 제공하는 서비스를 서비스 본래의 이용 목적 이외의 용도로 사용하거나 다음 각호에 해당하는 행위를 하여서는 안됩니다. 회사는 회원이 아래 각호의 행위를 하는 경우, 위반 행위의 경중에 따라 서비스의 이용정지/계약의 해지 등 서비스 이용 제한, 수사 기관에의 고발 조치 등 합당한 조치를 취할 수 있습니다.
			<ol>
				<li>다른 회원을 희롱하거나, 위협하거나, 특정 회원에게 지속적으로 고통을 주거나 불편을 주는 경우</li>
				<li>회사가 인정하는 서비스의 공식 운영자를 사칭하거나 회사의 임직원 또는 회사를 사칭하는 경우</li>
				<li>제 3자의 ID을 도용하거나, 네트워크 해킹, 시스템 해킹, PC 해킹 등 모든 해킹 행위를 통해 제3자의 ID, 인증 정보를 취득하는 행위</li>
				<li>매시업 서비스 이용을 위해 회사로부터 발급 받은 사용자 키를 매시업 서비스를 이용하기 위하여 매시업 서비스에 제공하는 것 이외의 목적으로 제3자에게 제공, 양도, 대여, 담보 제공 공개하거나 공유하는 경우</li>
				<li>서비스를 이용하여 법령 위반 또는 사회의 안녕과 질서, 미풍양속을 저해한 경우</li>
				<li>서비스를 이용하여 제3자의 권익을 해치거나 정보를 도용하는 등 전자거래질서를 위협하는 경우</li>
				<li>용도에 대한 자세하고 정확한 설명 없이 Active X, 스파이웨어, 애드웨어 등 회사가 사전에 승인하지 않은 프로그램을 무조건 설치하도록 유도하는 행위</li>
				<li>서비스 방문자나 타 회원의 의사와 무관하게 특정 사이트로 방문을 유도하는 행위</li>
				<li>서비스 내 또는 웹사이트상에서 불법복제 소프트웨어, 제3자의 저작물을 밀매하는 등 기타 불법적인 목적으로 서비스를 이용하는 행위</li>
				<li>회사가 서비스의 일부로서 회원에게 제공하는 소프트웨어, 웹사이트 또는 회사의 서버 등에 대한 수정, 2차적 저작물 작성, 역설계, 디컴파일 또는 다른 방법으로 소스코드를 추출하고자 시도하는 행위 (단, 회사가 별도의 약관 등 절차로 허용한 경우는 제외함)</li>
				<li>회사 또는 제3자의 특허권, 상표권, 저작권, 영업비밀 등 지적재산권을 포함한 기타 권리를 침해하거나 침해하는 방법으로 사용하는 행위</li>
				<li>프로그램상의 버그 등 이에 준하는 것을 이용하여 서비스를 이용하는 행위</li>
				<li>인종이나 성, 특정 종교, 광신 등 사회적 편견에 기반한 단체를 결성하는 행위</li>
				<li>다른 사람의 e-mail 등 기타 제3자의 개인정보를 수집하는 행위</li>
				<li>범죄와 결부된다고 객관적으로 판단되는 행위</li>
				<li>기타 상기 제1호 내지 제15호에 준하는 목적으로 서비스를 이용하거나 다른 회원으로 하여금 상기 제1호 내지 제15호의 금지행위를 하도록 유발하거나 조장하는 행위</li>
			</ol>
			</li>
			<li>회원은 공공의 안녕질서 또는 미풍양속을 해하는 다음 각 호의 통신을 하여서는 안됩니다.
			<ol>
				<li>범죄행위를 목적으로 하거나 범죄행위를 교사하는 내용</li>
				<li>반국가적 행위의 수행을 목적으로 하는 내용</li>
				<li>선량한 풍속, 기타 사회질서를 해하는 내용</li>
				<li>제3자의 명예를 손상시키거나 권리를 침해하는 내용</li>
				<li>욕설이나 노골적인 성 묘사를 하는 내용</li>
				<li>다른 회원을 음해하거나 인종 차별적인 내용</li>
			</ol>
			</li>

			<li>회원은 회사의 명시적 사전 동의가 없는 한 서비스의 이용권한 및 기타 이용계약상의 지위를 제3자에게 양도, 증여, 대여할 수 없으며 이를 담보로 제공할 수 없습니다.</li>
			<li>회원은 회사의 사전 허락 없이 회사가 정한 이용 목적과 방법에 반하여 영업/광고활동 등을 할 수 없고, 회원의 서비스 이용이 회사의 재산권, 영업권 또는 비즈니스 모델을 침해하여서는 안됩니다.</li>
			<li>회원은 본 약관 및 관계법령을 준수해야 하며, 기타 회사의 명예를 손상시키거나 업무수행에 현저한 지장을 초래하는 행위를 해서는 안됩니다.</li>
			<li>회원은 서비스 웹사이트 또는 애플리케이션 등의 공지사항을 수시로 확인하여야 합니다. 공지사항의 미확인으로 인해 발생하는 회원의 피해는 회사에서 책임을 지지 않습니다. 다만, 회원에게 중대하고 명백한 피해가 예상되는 경우에는 회사는 회원의 e-mail로 별도의 고지를 합니다.</li>
		</ol>

		<h4>제 4 장 서비스 이용 및 제한, 중지</h4>
		<h5>제12조 (서비스 이용 방법)</h5>
		<ol>
			<li>회원은 특정 매시업 서비스를 이용하기 위하여 서비스 가입과 동시에 회사로부터 자동으로 발급받은 매시업 서비스 이용 확인키(이하, 사용자키)를 매시업 서비스 사용시 인증 수단으로 사용하여야 합니다.</li>
			<li>회사는 사용자 키를 발급함에 있어 이용 기간을 지정할 수 있으며, 이용 기간을 변경하고자 하는 경우에는 최소 1개월 전에 이를 고지하기로 합니다.</li>
			<li>회원은 회사로부터 발급 받은 사용자 키를 매시업 서비스를 이용하기 위해 회사의 매시업 서비스에 제공하는 용도 이외에 제3자에게 제공, 양도, 대여, 담보제공 공개하거나 공유할 수 없으며, 사용자 키를 발급 받은 회원 본인에 한하여 이를 본 약관에서 정한 바에 따라 사용할 수 있습니다.</li>
			<li>회사는 하나의 사용자 키에 관하여 일일 요청량 및 트래픽에 대하여 제한할 수 있으며, 이에 관한 상세 사항에 대하여 이를 홈페이지에 별도로 고지합니다. 또한, 회원이 회사가 정한 제한을 초과하여 이용하는 경우에는 회사와 사전에 별도로 협의를 해야 합니다.</li>
			<li>회사는 본 조 또는 본 약관 제16조 등에서 정한 회원의 어뷰징 시도 행위, 네트워크 사용 초과 행위, 회사의 영업에 해악을 미치는 행위 등을 포함하여 기타 회원이 하여서는 안되는 불량 이용행위에 대하여 추가적으로 규정하고 회원의 해당 불량 이용 행위에 따른 회사의 조치에 대하여 별도로 정책("불량회원정책)"을 정하여 서비스 웹사이트 또는 애플리케이션 등에 고지할 수 있습니다.</li>
		</ol>

		<h5>제13조 (광고게재 및 광고주와의 거래)</h5>
		<ol>
			<li>회사는 서비스 운영을 위해 회원정보를 활용하여 맞춤 광고를 게재할 수 있습니다. 회원은 서비스 이용 시 노출되는 맞춤 광고 게재에 대해 동의합니다.</li>
			<li>회사는 서비스 운영을 위해 회원정보를 활용하여 영리목적의 광고성 전자우편을 전송할 수 있습니다. 회원이 이를 원하지 않는 경우에는 언제든지 서비스 웹사이트 또는 애플리케이션 내부 메뉴 등을 통하여 수신거부를 할 수 있습니다.</li>
			<li>회사는 서비스상에 게재되어 있거나 서비스를 통한 광고주의 판촉활동에 회원이 참여하거나 교신 또는 거래를 함으로써 발생하는 손실과 손해에 대해 책임을 지지 않습니다.</li>
		</ol>

		<h5>제14조 (서비스 내용 및 변경)</h5>
		<ol>
			<li>회사는 웹에서 상품에 대한 정보와 직접 편집물의 내용을 기록하고, 편집, 저장, 관리, 협업, 검색할 수 있는 차세대 웹편집 솔루션 Web Top을 제공합니다.</li>
			<li>회원은 회사에 언제든지 서비스의 개선, 개발 등과 관련한 아이디어를 제공할 수 있으며, 회사는 필요한 경우 회원이 제시한 아이디어 등을 적극 활용하여 개발, 개선한 추가 서비스 등의 결과물을 회원에게 서비스할 수 있습니다. 이 경우, 회원이 제시한 아이디어 등을 통하여 회사가 개발한 결과물에 대한 지적재산권은 회사에 귀속됩니다.</li>
			<li>회사는 회원과 별도로 서면 계약을 체결하여 서비스의 브랜드 특성을 이용할 수 있는 명시적인 권리를 부여하지 아니하는 한, 회원에게 회사 또는 서비스의 상호, 상표, 서비스표, 로고, 도메인 네임 및 기타 식별력 있는 브랜드 특성을 이용할 수 있는 권리를 부여하지 않습니다.</li>
			<li>회사는 서비스 웹사이트 또는 애플리케이션 등의 공지사항을 통하여 서비스 시스템 및 회선 점검에 관한 사항, 약관의 변경에 관한 사항, 서비스 변경에 관한 사항, 서비스의 운영에 관한 사항, 서비스 내용 업데이트/변경에 관한 사항 등을 회원에게 고지하오니 회원은 수시로 서비스 웹사이트 또는 애플리케이션 등에서 공지사항을 확인하여야 합니다. 공지사항의 미확인으로 인해 발생하는 회원의 피해는 회사에서 책임을 지지 않습니다. 다만, 회원에게 중대하고 명백한 피해가 예상되는 경우에는 회사는 회원의 e-mail 등을 통하여 별도의 고지를 합니다.</li>
			<li>회사는 본 서비스의 일부나 전부를 서비스 운영, 기획상 필요한 경우 언제든지 변경하거나 종료할 수 있습니다. 단, 회사가 서비스의 기획이나 운영상 또는 회사의 긴박한 상황 등 회사의 정책적 결정에 의해 서비스를 전부 종료하고자 하는 경우, 회사는 회원에게 30일 전에 e-mail 또는 서비스 홈페이지 등을 통하여  공지하고 서비스를 종료할 수 있습니다. 이 경우에 회사는 회원이 쌓은 정보 및 자료를 내려 받을 수 있도록 지원합니다. 회사는 그 외에 서비스 종료로 인한 추가적인 의무나 손해배상 등의 책임을 부담하지 않으며, 회원은 서비스가 영구적으로 종료되는 경우, 서비스 제공을 요구하거나 서비스의 중단에 대한 배상을 청구할 수 없습니다.</li>
		</ol>

		<h5>제15조 (서비스 이용의 제한)</h5>
		<ol>
			<li>회사는 천재지변이나 국가비상사태, 해결이 곤란한 기술적 결함 또는 서비스 운영의 심각한 변화 등 불가항력적인 경우가 발생 또는 발생이 예상될 때는 서비스의 전부 또는 일부를 예고 없이 제한하거나 중지할 수 있습니다.</li>
			<li>서비스를 이용하게 됨으로써 서비스 영역에서 발생하는 회원 사이의 문제에 대해 회사는 책임을 지지 않습니다.</li>
			<li>회원의 관리 소홀로 인하여 ID 및 비밀번호의 유출로 인해 회원에게 서비스 이용상의 손해가 발생하거나 제3자에 의한 부정이용 등으로 회원의 의무조항을 위반한 경우 ID및 개인저장공간의 이용이 제한될 수 있습니다.</li>
			<li>회사가 본 약관 제11조의 위반 행위를 조사하는 과정에서 당해 회원 ID및 개인저장공간이 특정 위반행위에 직접적으로 관련되어 있는 경우 등 다른 회원의 권익 보호 및 서비스의 질서유지를 위해 불가피할 경우에는 해당 ID 및 개인저장공간의 이용을 일시적으로 정지할 수 있습니다. 이에 대해 회원은 서비스 웹사이트 또는 e-mail 등을 통해 이의신청을 할 수 있습니다.</li>
			<li>서비스 이용과 관련한 상담 및 문의는 서비스 웹사이트 또는 e-mail 등 회사에서 정하는 방식으로 접수하여 처리합니다.</li>
		</ol>

		<h5>제16조 (서비스의 제한)</h5>
		<ol>
			<li>회사는 특정 서비스의 범위를 제한 하거나 별도의 이용 가능 시간 또는 이용 가능 횟수를 지정할 수 있으며, 이를 사전에 고지하기로 합니다.</li>
			<li>회사는 회원이 서비스를 이용함에 있어 법령을 위반하거나 본 약관 또는 서비스 이용 기준 등을 위반한 경우 즉시 사용자키의 이용을 정지할 수 있습니다.</li>
			<li>회사는 회원이 서비스에 대한 불법적인 해킹 시도, 비정상적인 방식을 통한 어뷰징 시도, 네트워크 사용 초과 등의 시도를 하는 경우 e-mail로 고지하고 사용자키의 사용을 정지시킬 수 있습니다.</li>
		</ol>

		<h5>제17조 (게시물의 관리)</h5>
		<ol>
			<li>회사는 회원이 공개한 게시물에 대한 이용권과 게시권 등 서비스를 회원에게 제공하기 위하여 필요한 완전한 운영권을 가집니다.
			<li>회사는 회원이 공개한 게시물이나 자료가 다음 각 호 중 하나에 해당하는 경우, 회원에게 사전통지 없이 삭제하거나 비공개로 전환, 이동 또는 등록 거부를 할 수 있습니다. 또한, 해당 게시물을 게시한 회원에게는 웹사이트 또는 애플리케이션 등에서 고지한 방법에 따라 회원 자격의 제한, 정지 또는 상실 등의 조치를 적용할 수 있습니다.
			<ol>
				<li>다른 회원 또는 제3자에게 심한 모욕을 주거나 명예를 손상시키는 내용인 경우</li>
				<li>제3자의 개인정보를 공개하거나 유포하는 경우</li>
				<li>선정성 또는 음란성이 있거나, 비어 또는 속어가 포함되거나 반사회적, 저속한 내용의 정보 기타 공공질서, 미풍양속을 해하는 정보 및 이러한 정보들을 포함하는 문장, 도형, 음향, 동영상, 그림 등을 전송, 게시, 전자우편, 링크 또는 기타의 방법으로 제3자에게 유포하는 경우</li>
				<li>회사의 운영진, 직원 또는 관계자를 사칭하여 제3자로 하여금 회사의 공식입장이라고 오인하게 하는 내용인 경우</li>
				<li>불법 복제 또는 해킹을 조장하는 내용인 경우</li>
				<li>영리를 목적으로 하는 광고로서 회사가 정하는 이용 목적과 방법에 반하는 경우</li>
				<li>범죄와 결부된다고 객관적으로 인정되는 내용인 경우</li>
				<li>회사, 다른 회원 또는 제3자의 저작권, 특허권, 상표권, 영업비밀, 명예 등 기타 권리를 침해할 가능성이 있거나 침해하는 경우</li>
				<li>종교적, 정치적 분쟁을 야기하는 내용으로서, 이러한 분쟁으로 인하여 회사의 업무가 방해되거나 방해되리라고 판단되는 경우</li>
				<li>기타 관계법령에 위배된다고 판단되는 경우</li>
			</ol>
			</li>

			<li>회원의 공개 게시물로 인한 법률상 이익 침해를 근거로, 다른 회원 또는 제3자가 회원 또는 회사를 상대로 민?형사상의 법적 조치 (예: 고소, 가처분신청, 손해배상청구소송)를 취하거나 그 법적 조치와 관련된 게시물의 삭제를 요청해오는 경우, 회사는 동 법적 조치의 최종 결과(예: 검찰의 기소, 법원의 가처분 결정, 손해배상 판결)가 있을 때까지 관련 게시물에 대한 접근을 잠정적으로 제한할 수 있습니다.</li>
			<li>회원이 비공개로 설정한 게시물에 대해서는 회사를 포함한 다른 사람이 열람할 수 없습니다. 단, 법원, 수사기관이나 기타 행정기관으로부터 정보제공을 요청 받은 경우나 기타 법률에 의해 요구되는 경우에는 회사를 포함한 다른 사람이 해당 게시물을 열람할 수 있습니다.</li>
			<li>제2항 각 호로 인하여 발생한 각종 손해 및 관계기관에 의한 법적 조치에 따르는 책임은 해당 회원 본인이 부담합니다.</li>
			<li>회원의 게시물로 인하여 제3자의 회사에 대한 소송, 형사고소 기타 일체의 분쟁이 발생한 경우 회원은 그 해결에 소요되는 비용을 부담하고 회사를 위하여 분쟁을 처리하여야 하며, 회사가 제3자에게 배상하거나 회사에 손해가 발생한 경우 해당 회원은 회사에 이를 배상하여야 합니다.</li>
		</ol>

		<h5>제18조 (서비스 이용의 중지 또는 계약의 해지)</h5>
		<ol>
			<li>회원은 회사에 언제든지 회원 탈퇴를 요청할 수 있으며, 회사는 이와 같은 요청을 받았을 경우, 회사가 별도로 고지한 방법에 따라 신속하게 처리합니다. 다만, 서비스 홈페이지 등을 통하여 고지하는 사유 등으로 인하여 본인 확인 절차가 필요한 경우에는 e-mail 인증, 신분증 또는 회사가 지정하는 본인의 신분을 확인할 수 있는 증서의 제출을 요청할 수 있습니다.</li>
			<li>회원이 서비스의 이용중지를 원하는 경우에는, 회사가 서비스 웹사이트 또는 애플리케이션 등에서 별도로 고지하는 e-mail 등의 방법으로 회사에 중지신청을 할 수 있습니다. 회사는 이와 같은 요청을 받았을 경우, 회사가 별도로 고지한 방법에 따라 신속하게 처리합니다.</li>
			<li>회사는 회원이 본 약관 제11조의 회원의 의무를 위반한 경우에는 사전 통보 후 회원 자격을 제한, 이용계약을 해지하거나 또는 기간을 정하여 서비스의 이용을 중지할 수 있습니다. 단, 회원이 이 약관 제17조 제2항에 해당하는 게시물을 게시하거나 제11조 제1항, 제3항, 제4항, 제7항에 기재된 회원의 의무를 위반한 경우 및 고의 또는 중대한 과실로 회사에 손해를 입힌 경우에는 사전 통보 없이 회원 자격을 제한, 이용 계약을 해지하거나 또는 기간을 정하여 서비스의 이용을 중지할 수 있습니다.</li>
			<li>해당 아이디가 본 서비스 외의 다른 서비스에서 본 조 제3항에서 금지하는 행위를 한 경우, ID 정보에 의하여 해당 아이디 또는 그룹에 대하여 서비스의 이용을 제한할 수 있습니다.</li>
			<li>회사는 본 조 제3항에서 정한 바에 따라 서비스 이용 중지 또는 해지된 회원에 대해 서비스 홈페이지 또는 사이버 고객센터 등을 통해 제한 사유를 확인할 수 있도록 하며, 해당 회원은 회사가 별도로 고지하는 방법으로 이의를 제기 할 수 있습니다. 즉, 회사는 회원에 대해 서비스 이용 중지 또는 해지통보일로부터 7일 동안 소명의 기회를 부여합니다. 소명절차와 관련한 상세 사항은 회사가 서비스 웹사이트 또는 애플리케이션 등에서 별도로 고지하는 바에 따릅니다.</li>
			<li>회사는 본 조 제3항에 의한 회원자격의 변경내용을 서비스 내에서 또는 해당 회원이 회사의 본 서비스를 사용하여 가입 및 사용하고 있는 외부서비스에 고지할 수 있습니다.</li>
			<li>회원은 회원의 귀책사유로 인하여 회사나 다른 회원에게 입힌 손해를 배상할 책임이 있습니다.</li>
		</ol>

		<h4>제 5장 손해배상 및 면책조항</h4>
		<h5>제19조 (보증 및 면책조항)</h5>
		<ol>
			<li>회사는 회사가 제공하는 무료서비스 이용과 관련하여 회원에게 발생한 어떠한 손해에 대해서도 책임을 지지 않습니다. 다만 회사의 고의 또는 중대한 과실로 인하여 발생한 손해의 경우는 제외합니다.</li>
			<li>회사는 회원의 약관, 서비스 이용 방법 및 이용 기준을 준수하지 않은 이용으로 인한 결과나 또는 회원의 귀책사유로 인한 서비스의 중지/이용장애에 대하여 책임을 지지 않습니다.</li>
			<li>회사는 서비스를 통하여 제공한 결과에 대해 신뢰성, 정당성, 적법성 등을 보증하지 않습니다.</li>
			<li>회사는 서비스의 사용 불능으로 인하여 회원에게 발생한 손해에 대하여 책임을 지지 않습니다.</li>
			<li>회사는 천재지변, 전쟁, 기간통신사업자의 서비스 중지, 제3자가 제공하는 오픈아이디의 인증 장애, 해결이 곤란한 기술적 결함 기타 불가항력으로 인하여 서비스를 제공할 수 없는 경우 책임이 면제됩니다.</li>
			<li>회사는 사전에 공지된 서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 서비스가 중지되거나 장애가 발생한 경우에 대하서는 책임이 면제됩니다.</li>
			<li>회사는 회사의 서비스에 의해서 제안되고 획득된 상품이나 서비스 또는 웹사이트의 회원이 제공한 링크를 통해서 얻은 물품이나 서비스, 제안 등 일체의 정보에 대하여 그 적법성 또는 진실성을 보증하거나 책임지지 않습니다.</li>
			<li>회원은 자신의 결정에 의하여 회사의 서비스를 사용하여 특정 프로그램이나 정보 등을 다운받거나 접근함으로써 입게 되는 컴퓨터 시스템상의 손해나 데이터, 정보의 상실에 대한 책임을 집니다.</li>
			<li>회사는 기간통신사업자가 전기통신서비스를 중지하거나 정상적으로 제공하지 아니하여 손해가 발생한 경우에는 책임이 면제됩니다.</li>
			<li>회원의 컴퓨터 오류, 신상정보 및 전자우편 주소의 부정확한 기재, 비밀번호 관리의 소홀 등 회원의 귀책사유로 인해 손해가 발생한 경우 회사는 책임을 지지 않습니다.</li>
			<li>회사는 회원의 컴퓨터 환경이나 회사의 관리 범위에 있지 아니한 보안 문제로 인하여 발생하는 제반 문제 또는 현재의 보안기술 수준으로 방어가 곤란한 네트워크 해킹 등 회사의 귀책사유 없이 발생하는 문제에 대해서 책임을 지지 않습니다.</li>
			<li>회사는 서비스가 제공한 내용에 대한 중요 정보의 정확성, 내용, 완전성, 적법성, 신뢰성 등에 대하여 보증하거나 책임을 지지 않으며, 사이트의 삭제, 저장실패, 잘못된 인도, 정보에 대한 제공에 대한 궁극적인 책임을 지지 않습니다. 또한, 회사는 회원이 서비스 내 또는 웹사이트상에 게시 또는 전송한 정보, 자료, 사실의 신뢰도, 정확성, 완결성, 품질 등 내용에 대해서는 책임을 지지 않습니다.</li>
			<li>회사는 회원 상호간 또는 회원과 제 3자 상호 간에 서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없으며 이로 인한 손해를 배상할 책임도 없습니다.</li>
			<li>회사는 회원이 서비스를 이용하여 기대하는 효용을 얻지 못한 것에 대하여 책임을 지지 않으며 서비스에 대한 취사 선택 또는 이용으로 발생하는 손해 등에 대해서는 책임이 면제됩니다.</li>
			<li>회사는 회원의 게시물을 등록 전에 사전심사 하거나 상시적으로 게시물의 내용을 확인 또는 검토하여야 할 의무가 없으며, 그 결과에 대한 책임을 지지 않습니다.</li>
		</ol>

		<h5>제20조 (재판권 및 준거법)</h5>
		<ol>
			<li>서비스 이용과 관련하여 회사와 회원간에 발생한 분쟁에 관한 소송은 민사소송법 등 관련법률상의 관할법원에 제기합니다.</li>
			<li>회사와 회원간에 제기된 소송에는 대한민국 법을 적용합니다.</li>
		</ol>
	</div>
</div>