
<%
if  params[:id] != nil
	temp = Temp.get(params[:id].to_i)  
	
	
	if temp.subcategory != nil
		category_info = Category.get(temp.category.to_i).name + "/" + Subcategory.get(temp.subcategory.to_i).name
		sn_info = temp.category  + "-" + temp.subcategory + "-" + temp.id.to_s
	else
		category_info = Category.get(temp.category.to_i).name	
		sn_info = temp.category  + "-" + temp.id.to_s
	end
	
	puts_message category_info
	puts_message sn_info
	
end
%>
<script type="text/javascript" src="/js/editor.js"></script>
<div id="edit-order-form">
	<h3>편집의뢰 신청서</h3>
	<p class="description">고객님께서 직접 편집할 시간이 없거나, 사용법이 어려운 경우 편집의뢰를 할 수 있습니다.</p>
	<% form_tag({:action => ''}, {:multipart => true, :id => "frmFile"} ) do -%>
		<input type="hidden" name="edit" value="req">
		<fieldset class="designinfo">
			<legend>디자인/사이즈 선택</legend>
			<p>
				<label for="order-item">품목</label> <input name="category_info" id="order-item" type="text" value="<%= category_info %>" readonly/>
			</p>
			<p>
				<label for="order-designcode">디자인번호</label> <input name="sn_info" id="order-designcode" type="text" value="<%= sn_info %>" readonly/>
			</p>
			<p>
				<label for="order-size-width">기본사이즈</label> <input name="size_info_x" id="order-size-width" value="500" placeholder="가로" type="number" size="4" maxlength="5"/>cm x <input name="size_info_y" id="order-size-height" value="90" placeholder="세로" type="number" size="4" maxlength="5"/>cm
			</p>
		</fieldset>
		<fieldset class="memo">
			<legend>요청사항입력</legend>
			<p>
				<label for="feedback-memo">요청사항</label> <textarea name="feedback_memo" id="feedback-memo"></textarea>
			</p>
			<p>
				<label for="feedback-file">파일첨부</label> <input name="feedback_file" id="feedback_file" type="file"/>
			</p>
		</fieldset>
		<!-- 선결제 금액 필요시 -->
		<div id="first-price">
			<h4>선결제금액</h4>
			<p class="price">0원</p>
			<p class="comment">선결제금액은 시안비로, <strong>직접 편집시</strong>는 발생하지 않습니다.</p>
		</div>
		<input id="req_edit_submit" type="button" class="submit-button" value="편집의뢰 신청">
		<input name="temp_id" id="tempid" type="hidden" value="<%= temp.id.to_s %>">
	<%end %>
</div>