<div id="edit-order-form">
	<h3>편집의뢰 신청서</h3>
	<p class="description">고객님께서 직접 편집할 시간이 없거나, 사용법이 어려운 경우 편집의뢰를 할 수 있습니다.</p>
	<form action="### 편집의뢰 등록주소 ###" method="post">
		<fieldset class="designinfo">
			<legend>디자인/사이즈 선택</legend>
			<p>
				<label for="order-item">품목</label> <input name="### 카테고리 ###" id="order-item" type="text" value="### 카테고리1단계 ### - ###카테고리2단계###" readonly/>
			</p>
			<p>
				<label for="order-designcode">디자인번호</label> <input name="### 디자인번호 ###" id="order-designcode" type="text" readonly/>
			</p>
			<p>
				<label for="order-size-width">기본사이즈</label> <input name="### 사이즈 ###" id="order-size-width" value="500" placeholder="가로" type="number" size="4" maxlength="5"/>cm x <input name="### 사이즈 ###" id="order-size-height" value="90" placeholder="세로" type="number" size="4" maxlength="5"/>cm
			</p>
		</fieldset>
		<fieldset class="memo">
			<legend>요청사항입력</legend>
			<p>
				<label for="feedback-memo">요청사항</label> <textarea name="### 요청사항 내용 ###" id="feedback-memo"></textarea>
			</p>
			<p>
				<label for="feedback-file">파일첨부</label> <input name="###  ###" id="feedback-file" type="file"/>
			</p>
		</fieldset>
		<!-- 선결제 금액 필요시 -->
		<div id="first-price">
			<h4>선결제금액</h4>
			<p class="price">7,000원</p>
			<p class="comment">선결제금액은 시안비로, <strong>직접 편집시</strong>는 발생하지 않습니다.</p>
		</div>
		<input type="submit" class="submit-button" value="편집의뢰 신청">
	</form>
</div>