<div id="recommend_chrome">
	<h4>Windows XP에서 사용자 편집기능을 사용하기 위해서는 플러그인 Chrome frame을 설치해야합니다.</h4>
	<ul id="button">
		<li class="accept"><a href="#">Chrome Frame을 설치하겠습니다.</a></li>
		<li class="decline"><a href="#">설치하지 않고 사용 하겠습니다.</a></li>
	</ul>
	<h4>추천 브라우저</h4>
	<ul id="etc_browser">
		<li class="safari"><a href="http://www.apple.com/kr/safari/" target="_blank">Apple Safari</a></li>
		<li class="chrome"><a href="http://www.google.com/chrome" target="_blank">Google Chrome</a></li>
		<li class="firefox"><a href="http://www.mozilla.or.kr/ko/" target="_blank">Mozilla Firefox</a></li>
	</ul>
	<div id="chrome_install"></div>
</div>