<div style="width:300px; background: red; height:300px; float:left"></div>
<div style="width:300px; background: blue; height:400px; float:left"></div>
<div style="width:300px; background: green; height:500px; float:left"></div>
<div style="width:300px; background: purple; height:400px; float:left"></div>
<div style="width:300px; background: gray; height:200px; float:left"></div>
<br style="clear: both"/>
