<ul id="nav">
	<li><a <%= "Class=\"on\"" if @submenu == "temp" %> href="/admin/categories?gubun=temp">템플릿 카테고리</a></li>
	<li><a <%= "Class=\"on\"" if @submenu == "image" %> href="/admin/categories?gubun=image">이미지 카테고리</a></li>
</ul>
