<ul id="nav">
	<li><a <%= "Class=\"on\"" if @board == "user" %> href="/admin/users">사용자 목록</a></li>
	<li><a <%= "Class=\"on\"" if @board == "mytemplate" %> href="/admin/mytemplates">사용자 디자인바구니</a></li>	
	<li><a <%= "Class=\"on\"" if @board == "myimage" %> href="/admin/myimages">사용자 이미지</a></li>		
</ul>
